/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 970px;
}

#context {
    display: table;
    height: 100%;
    width : 100%;
    margin: 0;
}
#bodybox {
    display: table-cell;
    vertical-align: top;
}
#headbox {
    display: table-cell;
    vertical-align: top;
    background: #373a3c;
    text-shadow: 0 0 6px #000;
    min-width: 150px;
    max-width: 300px;
    width: 12.5%;
}
#main-context {
    overflow: auto;
    height: 100%;
}
#menu-context {
    overflow: auto;
    height: 100%;
}

#main-context>.tabs {
    margin-bottom: 0;
}
#main-context>.labs {
    margin-top: 15px;
}

#user-menubar a {
    color: #aaa;
    font-size: 13px;
}
#main-menubar a {
    color: #ccc;
    font-size: 15px;
}
#main-menubar li li a {
    color: #eee;
    font-size: 13px;
}

#menu-laq {
    background: #333;
    color     : #eee;
    position: absolute;
    display : block;
    right: 0;
    top  : 0;
}
#menu-raq {
    background: #eee;
    color     : #333;
    position: fixed;
    display : none ;
    left : 0;
    top  : 0;
}
#menu-laq,
#menu-raq {
    width: 15px;
    padding-left : 0;
    padding-right: 0;
    border-width : 0;
    border-radius: 0;
    text-align: center;
}
#menu-laq:hover,
#menu-raq:hover {
    background: #444;
    color     : #ddd;
}

.menubox ul {
    list-style: none;
    margin : 0;
    padding: 0;
}
.menubox li {
    margin : 6px 0;
}
.menubox li li {
    margin : 1px 0;
}
.menubox li a {
    display: block;
    padding: 6px 4px 6px 15px;
}
.menubox li li a {
    display: block;
    padding: 6px 4px 6px 30px;
}
.menubox li a ,
.menubox li.acting > a.dropup {
    background: #373a3c;
    border-left: 2px solid #373a3c;
}
.menubox li a:hover ,
.menubox li.acting > a:hover.dropup {
    background: #212426;
    border-left: 2px solid #777777;
}
.menubox li.acting > a ,
.menubox li.active > a ,
.menubox li.active > a.dropup {
    background: #212426;
    border-left: 2px solid #ea0000;
}
.menubox li .caret {
    color : #aaa ;
    float : right;
    margin: 7px 0;
}

.statbox .checkbox label {
    line-height: 21px;
    font-size: 12px;
    display: block;
}

/**
 * 修正响应式表格不出横向滚动条的问题
 */
.table-responsive-revised {
    width: 100%;
    display: table;
    table-layout: fixed;
}
