/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 970px;
}

#context {
    height: 100%;
    width : 100%;
}
#bodybox {
    height: 100%;
    width : 100%;
    overflow: auto;
    padding-left: 175px;
}
#headbox {
    height: 100%;
    width : 175px;
    overflow: auto;
    position: fixed;
    background: #373a3c;
}

#main-context > .tabs {
    margin-bottom: 0;
}
#main-context > .labs {
    margin-top: 15px;
}

/** 菜单 **/

#main-menubar ,
#user-menubar {
    padding: 15px 0 15px 0;
}
#main-menubar ul ,
#user-menubar ul {
    margin : 0;
    padding: 0;
    list-style: none;
}
#main-menubar li a ,
#user-menubar li a {
    color: #eeeeee;
    display: block;
    text-decoration: none;
}
#main-menubar li a ,
#user-menubar li a {
    font-size: 14px;
    padding: 9px 6px 9px 14px;
}
#main-menubar li li a ,
#user-menubar li li a {
    font-size: 12px;
    padding: 6px 6px 6px 28px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    background: transparent;
    border-left: 2px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover {
    background: #330000;
    border-left: 2px solid #660000;
}
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    background: #003300;
    border-left: 2px solid #006600;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup ,
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    background: #660000;
    border-left: 2px solid #bb0000;
}

#main-menubar .caret ,
#user-menubar .caret {
    margin: 8px 0;
    float : right;
    color : #3c3a37;
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    color : #eeeeee;
}
#main-menubar .glyphicon ,
#user-menubar .glyphicon  {
    top: 2px;
}

/* 头像 */

#user-menubar {
    position : relative;
    background: #006600;
}
#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 36px;
    height: 36px;
    margin-left: 14px;
    border-radius: 50% ;
    background-color : #eee;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    box-shadow: 0px 2px 8px #000;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    color : #eee;
    width : 80px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    white-space: nowrap;
    overflow   : hidden;
    text-overflow: ellipsis;
    text-shadow: 0px 2px 4px #000;
    font-weight: 400;
}
#user-menubar .umask {
    background: url(../static/assets/img/head_glob.png) no-repeat;
    background-size: 36px 36px;
    position: absolute;
    left  : 14px;
    width : 36px;
    height: 36px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#user-menubar ul {
    padding-top:15px;
}
#user-menubar ul.invisible {
    padding-top: 0px;
}

/**
 * 统计图表附带选项
 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
}

/**
 * 修正响应式表格不出横向滚动条的问题
 */
.table-responsive-revised  {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table-responsive thead th {
    white-space: nowrap;
}
.table-responsive tbody td {
    white-space: normal;
}
