/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 992px;
}
#context {
    height: 100%;
    width : 100%;
    min-width: 970px;
}
#headbox {
    height: 100%;
    overflow: auto ;
    position: fixed;
    background: #e0e2e2;
    box-shadow: 0 0 8px #ccc;
    z-index: 1;
}

#main-namebar ,
#main-menubar ,
#user-menubar {
    display: none ;
}
.side-mode #main-namebar ,
.side-mode #main-menubar ,
.side-mode #user-menubar {
    display: block;
}
.side-mode #head-handler {
    left : 200px;
}
.side-mode #headbox {
    width: 200px;
}
.side-mode #bodybox {
    padding-left: 200px;
}

/** 标题 **/

#user-menubar {
    padding: 12px 0;
}
#main-menubar {
    padding: 18px 0;
}
#main-namebar {
    padding: 18px 15px;
}
#main-menubar {
    margin-top   : 90px;
    margin-bottom: 60px;
}

#user-menubar ,
#main-namebar {
    width: 200px;
    position: fixed;
}
#user-menubar {
    bottom: 0;
    background: rgba(196,196,196,0.8);
}
#main-namebar {
    top   : 0;
    background: rgba(204, 0 , 0 ,0.8);
}
#main-namebar:after {
    content: "";
    display: block;
    position: absolute;
    background: radial-gradient(transparent 0%, transparent 10%, rgba(80,80,80,0.25) 90%);
    height: 100%;
    width : 100%;
    left: 0;
    top : 0;
}
#main-namebar>div {
    color: #ffb;
    text-align : center;
    text-shadow: 0 2px 0 #400;
}
#main-namebar>div:nth-child(1) {
    font-size: 1.42857143em;
    line-height: 1.0em;
    font-weight: 800;
    padding: 6px 0;
}
#main-namebar>div:nth-child(2) {
    font-size: 0.92307692em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 3px 0;
}

/** 菜单 **/

#main-menubar ul ,
#user-menubar ul {
    padding: 0;
    margin : 0;
    list-style: none;
    background: #e0e2e2;
}
#main-menubar ul ul ,
#user-menubar ul ul {
    background: #f0f2f2;
}
#main-menubar li a ,
#user-menubar li a {
    display: block;
    text-decoration: none;
}
#user-menubar li a {
    font-weight: 600;
    padding: 9px 16px 9px 13px;
}
#main-menubar li a {
    font-weight: 600;
    padding: 9px 16px 9px 39px;
}
#main-menubar li li a {
    font-weight: 300;
    padding: 9px 16px 9px 39px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    color: #686868;
    background: transparent;
    border-left: 4px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover ,
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    color: #bb0000;
    background: transparent;
    border-left: 4px solid transparent;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup ,
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    color: #bb0000;
    background: #f0e0e0;
    border-left: 4px solid #bb0000;
}

#main-menubar>ul>li {
    margin:  1em 0px;
}
#user-menubar>ul>li {
    margin:  0px 0px;
}

#main-menubar .caret {
    margin:  8px 0px;
    margin-right: -10px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#main-menubar .caret ,
#user-menubar .caret {
    float:  right ;
    color: #e0e2e2;
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    float:  right ;
    color: #a0a2a2;
}
#main-menubar .caret {
    margin-right: -10px; /* 修正上层内补误差 */
}

/* 头像 */

#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 48px;
    height: 48px;
    margin: -6px 6px;
    border-radius  : 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    width: 120px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow   : hidden;
    text-overflow: ellipsis;
    color: #666;
}
#user-menubar:hover .uname {
    color: #b00;
}
#user-menubar .badge {
    position: absolute;
    background: #b00;
    display: none;
    min-width : 0;
    min-height: 0;
    width  : 8px;
    height : 8px;
    padding: 0;
    border : 0;
    margin : -8px  6px;
}
#user-menubar .glyphicon {
    top  :  1px; /* 修正字体符号偏上的问题 */
    width: 26px;
    margin-right: 17px;
    text-align: center;
}

/* 图标 */

#main-menubar ul li a:before {
    display    : inline-block;
    position   : relative;
    top        :  1px; /* 修正字体符号偏上的问题 */
    width      : 26px;
    margin-left:-26px;
    text-align : center;
    font-family: "Glyphicons Halflings";
    content: "";
}
#main-menubar>ul>li>a:before {
    content: "\e165";
}
#main-menubar>ul>li.actual>a:before {
    content: "\e124";
}
#main-menubar>ul>li>a[href="/centra/#manage"]:before {
    content: "\e021";
}
#main-menubar>ul>li>a[href="/common/menu.act?m=centra&x=base"]:before {
    content: "\e019";
}

/* 其他 */

#head-handler {
    position: fixed;
    top   :  50%;
    left  :  0px;
    width : 14px;
    height: 30px;
    margin-top: -15px;
    border-radius: 0 5px 5px 0;
    background: rgba(210,210,210,0.5);
}
#head-handler:hover {
    background: rgba(210,210,210,1.0);
}
#head-handler a {
    width : 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 4px;
    margin-top : 11px;
}
#head-handler a {
    margin-left : 5px;
    border-color: transparent transparent transparent #fff;
}
.side-mode #head-handler a {
    margin-left : 0px;
    border-color: transparent #fff transparent transparent;
}

#head-powered {
    writing-mode: vertical-lr;
    text-align: center;
    font-size : 8px;
    position: fixed;
    bottom: 8px;
    right : 0px;
    color: #ccc;
}
#head-powered a {
    color: #fcc;
}
#head-powered:hover {
    color: #000;
}
#head-powered:hover a {
    color: #f00;
}

/* 容器主要内容边界 */
#main-context > .labs {
    margin-top: 18px;
}
#main-context > .laps.breadcrumb {
    margin-bottom: 0;
    margin-top: 18px;
    background: #fff;
    border: 1px solid #ddd;
}

/* 复制导出列表样式 */
.table-copylist th ,
.table-copylist td {
    white-space: pre-line;
    mso-number-format: "\@";
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content: "\e031";
}

/* 统计图表附带选项 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
    white-space: nowrap;
         overflow: hidden;
    text-overflow: ellipsis;
}
.statbox .checkbox ,
.statbox .chartbox {
    margin  : 0;
    padding : 0;
    overflow: auto;
}
.statbox .alertbox {
    width   : 100%;
    height  : 100%;
    display : flex;
    align-items: center;
}
.statbox .alertbox>div {
    width   : 100%;
     text-align: center;
}
