/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 992px;
}
#context {
    height: 100%;
    width : 100%;
    min-width: 970px;
}
#headbox {
    height: 100%;
    width : 180px;
    overflow: auto;
    position: fixed;
    background: #2e2f2f;
}
#bodybox {
    padding-left: 180px;
}
#context.fullest>#bodybox {
    padding-left: 0;
}
#context.fullest>#headbox {
    width: 0;
}
#context.fullest #head-handled {
    left : 0;
}
#context.fullest #head-powered {
    display: none;
}

/** 菜单 **/

#main-menubar ,
#user-menubar {
    padding: 18px 0;
}
#main-menubar ul ,
#user-menubar ul {
    padding: 0;
    margin : 0;
    list-style: none;
    background: #2e2f2f;
}
#main-menubar ul ul ,
#user-menubar ul ul {
    background: #202222;
}
#main-menubar li a ,
#user-menubar li a {
    display: block;
    text-decoration: none;
}
#main-menubar>ul>li {
    margin : 2px 0;
}
#main-menubar>ul>li.acting ,
#main-menubar>ul>li.active {
    box-shadow: 0 1px 2px #200;
}
#main-menubar li a {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 6px 8px 16px;
}
#user-menubar li a {
    font-size: 13px;
    font-weight: 400;
    padding: 9px 6px 9px 10px;
}
#main-menubar li li a ,
#user-menubar li li a {
    font-size: 13px;
    font-weight: 400;
    padding: 9px 6px 9px 16px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    color: #aaaaaa;
    background: transparent;
    border-left: 2px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover ,
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    color: #aaaaaa;
    background: #770000;
    border-left: 2px solid #990000;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup ,
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    color: #eeeeee;
    background: #990000;
    border-left: 2px solid #ff0000;
}

#main-menubar .caret {
    margin:  8px 0px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#main-menubar .caret ,
#user-menubar .caret {
    float:  right ;
    color: #505252;
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    float:  right ;
    color: #cccccc;
}

/* 头像 */

#user-menubar {
    background: #777;
    position: relative;
}
#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 44px;
    height: 44px;
    margin: -4px 8px -4px 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    color : #eee;
    width : 75px;
    height: 36px;
    line-height: 36px;
    font-weight: 500 ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow   : hidden;
}
#user-menubar .badge {
    position: absolute;
    background: #f00;
    display: none;
    min-width : 0;
    min-height: 0;
    width  : 8px;
    height : 8px;
    padding: 0;
    border : 0;
    margin : -8px  6px;
}
#user-menubar .glyphicon {
    color: #a00;
    width: 40px;
    top  :  2px; /* 修正字体符号偏上的问题 */
    margin-right: 10px;
    text-align: center;
}

/* 其他 */

#head-handled {
    position: fixed;
    top  : 50%;
    left : 180px;
    width : 14px;
    height: 30px;
    margin-top: -15px;
    border-radius: 0 5px 5px 0;
    background: rgba(66,66,66,0.5);
}
#head-handled:hover {
    background: rgba(66,66,66,1.0);
}
#head-handled a {
    width : 0; 
    height: 0;
    display: block;
    border-width: 4px;
    border-style: solid;
}
#context #head-handled a {
    border-color: transparent #fcfcfc transparent transparent;
    margin-top: 11px;
}
#context.fullest #head-handled a {
    border-color: transparent transparent transparent #fcfcfc;
    margin-left: 5px;
}

#head-powered {
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom:  5px;
    width: 180px;
}
#head-powered a {
    color: #a00;
}
#head-powered a:hover {
    color: #f00;
}

/* 容器主要内容边界 */
#main-context > .tabs {
    margin-bottom: 0;
}
#main-context > .labs {
    margin-top: 18px;
}

/* 统计图表附带选项 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content : "\e031" ;
}
.input-group .input-search:disabled+.input-group-btn:last-child>.btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
