/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 970px;
}

#context {
    height: 100%;
    width : 100%;
}
#bodybox {
    height: 100%;
    width : 100%;
    overflow: auto;
    padding-left: 175px;
}
#headbox {
    height: 100%;
    width : 175px;
    overflow: auto;
    position: fixed;
    z-index : 10;
    background: #404242;
}
#context.fullest>#bodybox {
    padding: 0;
}
#context.fullest>#headbox {
    width: 0;
}
#context.fullest #side-hidebtn {
    left : 0;
}
#context.fullest #side-copybar {
    display: none;
}

#main-context > .tabs {
    margin-bottom: 0;
}
#main-context > .labs {
    margin-top: 15px;
}

/** 菜单 **/

#main-menubar ,
#user-menubar {
    padding: 15px 0 15px 0;
}
#main-menubar ul ,
#user-menubar ul {
    list-style: none;
    margin : 0;
    padding: 0;
}
#main-menubar li a ,
#user-menubar li a {
    color: #dddddd;
    display: block;
    text-decoration: none;
}
#main-menubar li a {
    font-size: 15px;
    font-weight: 500;
    padding: 7px 6px 7px 14px;
}
#user-menubar li a {
    font-size: 13px;
    font-weight: 400;
    padding: 9px 6px 9px 10px;
}
#main-menubar li li a ,
#user-menubar li li a {
    font-size: 13px;
    font-weight: 300;
    padding: 9px 6px 9px 28px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    background: transparent;
    border-left: 2px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover {
    background: #330000;
    border-left: 2px solid #660033;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup {
    background: #aa0000;
    border-left: 2px solid #ff0088;
}
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    background: #330000;
    border-left: 2px solid #660033;
}
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    background: #aa0000;
    border-left: 2px solid #ff0088;
}

#main-menubar>ul>li {
    padding: 4px 0px;
}
#main-menubar ul ul {
    padding: 2px 0px;
    background: #333;
}
#user-menubar ul {
    padding: 2px 0px;
    background: #444;
}

#main-menubar .caret {
    margin:  8px 0px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#main-menubar .caret ,
#user-menubar .caret {
    float:  right ;
    color: #404242;
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    color: #cccccc;
}

/* 头像 */

#user-menubar {
    background: #069;
    position: relative;
}
#user-menubar .badge {
    background: #f00;
    position: absolute;
    display: none;
    top    : 13px;
    left   : 13px;
    width  : 6px;
    height : 6px;
    padding: 0;
    border : 0;
    margin : 0;
    min-width : 0;
    min-height: 0;
}
#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 44px;
    height: 44px;
    margin: -4px 4px -4px 10px;
    box-shadow: 0 1px 2px #000;
    border-radius    : 50% ;
    background-color : #eee;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    color : #ddd;
    width : 80px;
    height: 36px;
    line-height: 36px;
    font-weight: 400 ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow   : hidden;
}
#user-menubar .glyphicon {
    color: #09c;
    width: 40px;
    top  :  2px; /* 修正字体符号偏上的问题 */
    margin-right: 6px ;
    text-align: center;
}

/* 其他 */

#side-copybar {
    position: fixed;
    bottom: 0;
    width: 175px;
    font-size: 10px;
    text-align: center;
    text-shadow: 0 0 2px #000;
}
#side-copybar:hover {
    text-shadow: 0 0 2px #660;
}
#side-copybar a {
    color: #a00;
}
#side-hidebtn {
    position: fixed;
    top  : 50%;
    left : 175px;
    width : 15px;
    height: 30px;
    margin-top: -15px;
    border-radius: 0 5px 5px 0;
    background: rgba(64,66,66,0.5);
}
#side-hidebtn:hover {
    background: rgba(64,66,66,1.0);
}
#side-hidebtn a {
    width : 0; 
    height: 0;
    display: block;
    border-width: 4px;
    border-style: solid;
}
#context #side-hidebtn a {
    border-color: transparent #fcfcfc transparent transparent;
    margin-top: 11px;
}
#context.fullest #side-hidebtn a {
    border-color: transparent transparent transparent #fcfcfc;
    margin-left: 5px;
}

/**
 * 统计图表附带选项
 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
}

/**
 * 修正响应式表格不出横向滚动条的问题
 */
.table-responsive-revised  {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table-responsive thead th {
    white-space: nowrap;
}
.table-responsive tbody td {
    white-space: normal;
}
