/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    width : 100%;
    min-width: 970px;
}

#context {
    height: 100%;
    width : 100%;
}
#bodybox {
    height: 100%;
    width : 100%;
    overflow: auto;
    padding-left: 175px;
}
#headbox {
    height: 100%;
    width : 175px;
    overflow: auto;
    position: fixed;
    z-index : 10;
    background: #404242;
    background-image: linear-gradient(-135deg, #4f4d4d 125px, #404242 125px, #3f3d3d 175px, #404242 175px);
}
#headbox #user-menubar>ul {
    background-image: linear-gradient(-135deg, #4f4d4d  88px, #404242  88px, #3f3d3d 138px, #404242 138px);
}
#context.fullest>#bodybox {
    padding: 0;
}
#context.fullest>#headbox {
    width: 0;
}
#context.fullest #head-handled {
    left : 0;
}
#context.fullest #head-powered {
    display: none;
}

#main-context > .tabs {
    margin-bottom: 0;
}
#main-context > .labs {
    margin-top: 15px;
}

/** 菜单 **/

#main-menubar ,
#user-menubar {
    padding: 15px 0 15px 0;
}
#main-menubar ul ,
#user-menubar ul {
    list-style: none;
    margin : 0;
    padding: 0;
}
#main-menubar li a ,
#user-menubar li a {
    color: #cccccc;
    display: block;
    text-decoration: none;
}
#main-menubar li a {
    font-size: 15px;
    font-weight: 600;
    padding: 7px 6px 7px 15px;
}
#user-menubar li a {
    font-size: 13px;
    font-weight: 500;
    padding: 9px 6px 9px 10px;
}
#main-menubar li li a ,
#user-menubar li li a {
    font-size: 13px;
    font-weight: 400;
    padding: 9px 6px 9px 23px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    background: transparent;
    border-left: 2px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover {
    background: #330000;
    border-left: 2px solid #990033;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup {
    background: #990000;
    border-left: 2px solid #ff0088;
}
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    background: #330000;
    border-left: 2px solid #990033;
}
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    background: #990000;
    border-left: 2px solid #ff0088;
}

#main-menubar ul ul {
    background: #222;
    padding: 2px 0px;
}
#user-menubar ul {
    background: #444;
    padding: 2px 0px;
}

#main-menubar .caret {
    margin:  8px 0px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#main-menubar .caret ,
#user-menubar .caret {
    float:  right ;
    color: #404242;
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    color: #cccccc;
}

/* 头像 */

#user-menubar {
    background: #777;
    position: relative;
}
#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 44px;
    height: 44px;
    margin: -4px 8px -4px 10px;
    box-shadow:  0 0  2px #000;
    border-radius    : 3px;
    background-color : #eee;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    color : #eee;
    width : 75px;
    height: 36px;
    line-height: 36px;
    font-weight: 600 ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow   : hidden;
}
#user-menubar .badge {
    position: absolute;
    background: #f00;
    display: none;
    min-width : 0;
    min-height: 0;
    width  : 8px;
    height : 8px;
    padding: 0;
    border : 0;
    margin : -8px  6px;
}
#user-menubar .glyphicon {
    color: #d00;
    width: 40px;
    top  :  2px; /* 修正字体符号偏上的问题 */
    margin-right: 10px;
    text-align: center;
}

/* 其他 */

#head-handled {
    position: fixed;
    top  : 50%;
    left : 175px;
    width : 14px;
    height: 30px;
    margin-top: -15px;
    border-radius: 0 5px 5px 0;
    background: rgba(64,66,66,0.5);
}
#head-handled:hover {
    background: rgba(64,66,66,1.0);
}
#head-handled a {
    width : 0; 
    height: 0;
    display: block;
    border-width: 4px;
    border-style: solid;
}
#context #head-handled a {
    border-color: transparent #fcfcfc transparent transparent;
    margin-top: 11px;
}
#context.fullest #head-handled a {
    border-color: transparent transparent transparent #fcfcfc;
    margin-left: 5px;
}

#head-powered {
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom:  5px;
    width: 175px;
}
#head-powered a {
    color: #b00;
}
#head-powered a:hover {
    color: #f00;
}

/**
 * 统计图表附带选项
 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
}

/**
 * 修正响应式表格不出横向滚动条的问题
 */
.table-responsive-revised  {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table-responsive thead th {
    white-space: nowrap;
}
.table-responsive tbody td {
    white-space: normal;
}
