/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/04/28 00:10
 */

html, body {
    height: 100%;
    min-width: 970px;
}

#context {
    display: table;
    height: 100%;
    width : 100%;
    margin-top: 0;
    margin-bottom: 0;
}
#headbox {
    display: table-cell;
    vertical-align: top;
    background: #222222;
    min-width: 150px;
    max-width: 300px;
    width: 15%;
}
#bodybox {
    display: table-cell;
    vertical-align: top;
}
#menu-context {
    overflow: auto;
    height: 100%;
}
#main-context {
    overflow: auto;
    height: 100%;
}

#menu-laq {
    width: 15px;
    color: #fff;
    background: #222;
    text-align: center;
    padding-left : 0;
    padding-right: 0;
    position: absolute;
    display : block;
    right: 0;
    top  : 0;
}
#menu-raq {
    width: 15px;
    color: #fff;
    background: #222;
    text-align: center;
    padding-left : 0;
    padding-right: 0;
    position: fixed;
    display : none ;
    left : 0;
    top  : 0;
}
#menu-laq:hover,
#menu-raq:hover {
    background: #090909;
}

.menubox ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.menubox li a {
    font-size: 15px;
    line-height: 17px;
    padding: 6px 4px 6px 15px;
}
.menubox li li a {
    font-size: 12px;
    line-height: 14px;
    padding: 4px 4px 4px 30px;
}
.menubox li a  {
    display: block;
    color: #eeeeee;
    background : #222222;
    border-left: 2px solid #222222;
}
.menubox li.active > a {
    display: block;
    color: #ff8888;
    background : #090909;
    border-left: 2px solid #ff8888;
}

#user-menubar li a {
    font-size: 12px;
}

.breadcrumb.paths {
    line-height: 27px
}

.statbox .checkbox label {
    font-size: 12px;
    display: block;
}

.manage-file-list .pagination,
.manage-file-list .page-count {
    display: none;
}
