/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html, body {
    height: 100%;
    min-width: 970px;
}

#context {
    display: table;
    height: 100%;
    width : 100%;
    margin-top: 0;
    margin-bottom: 0;
}
#headbox {
    display: table-cell;
    vertical-align: top;
    background: #373a3c;
    min-width: 150px;
    max-width: 300px;
    width: 12.5%;
}
#bodybox {
    display: table-cell;
    vertical-align: top;
}
#main-context {
    overflow: auto;
    height: 100%;
}
#menu-context {
    overflow: auto;
    height: 100%;
}

#main-context>.tabs {
    margin-bottom: 0;
}
#main-context>.labs {
    margin-top: 15px;
}

#menu-context a {
    color: #eee;
}
#user-menubar a {
    color: #aaa;
}

#menu-laq {
    background: #333;
    color     : #eee;
    position: absolute;
    display : block;
    right: 0;
    top  : 0;
}
#menu-raq {
    background: #eee;
    color     : #333;
    position: fixed;
    display : none ;
    left : 0;
    top  : 0;
}
#menu-laq,
#menu-raq {
    width: 15px;
    padding-left : 0;
    padding-right: 0;
    border-width : 0;
    border-radius: 0;
    text-align: center;
}
#menu-laq:hover,
#menu-raq:hover {
    background: #444;
    color     : #ddd;
}

.menubox ul {
    list-style: none;
    margin : 0;
    padding: 0;
}
.menubox li {
    margin : 6px 0;
}
.menubox li li {
    margin : 1px 0;
}
.menubox li a {
    padding: 9px 4px 9px 13px;
}
.menubox li li a {
    padding: 6px 4px 6px 26px;
}
.menubox li a {
    display: block;
    background: #373a3c;
    border-left: 2px solid #373a3c;
}
.menubox li a:hover {
    background: #474949;
}
.menubox li.acting a {
    background: #313436;
    border-left: 2px solid #202020;
}
.menubox li.acting>a {
    background: #313436;
    border-left: 2px solid #9b479f;
}
.menubox li.active>a {
    background: #474949;
    border-left: 2px solid #d9230f;
}
.menubox li .caret {
    float : right;
    margin: 7px 0;
}

.statbox .checkbox label {
    line-height: 21px;
    font-size: 12px;
    display: block;
}

.manage-file-list .pagination,
.manage-file-list .page-count {
    display: none ;
}
