/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/04/28 00:10
 */

html, body {
    height: 100%;
    min-width: 970px;
}

#context {
    display: table;
    height: 100%;
    width : 100%;
    margin-top: 0;
    margin-bottom: 0;
}
#headbox {
    display: table-cell;
    vertical-align: top;
    background: #282828;
    min-width: 150px;
    max-width: 300px;
    width: 12.5%;
}
#bodybox {
    display: table-cell;
    vertical-align: top;
}
#main-context {
    overflow: auto;
    height: 100%;
}
#menu-context {
    overflow: auto;
    height: 100%;
}

#main-context>.tabs {
    margin-bottom: 0;
}
#main-context>.labs {
    margin-top: 15px;
}

#menu-context a {
    color: #eee;
}
#user-menubar a {
    color: #aaa;
}
#user-menubar li {
    font-size: 13px;
}
#main-menubar li li {
    font-size: 13px;
}

#menu-laq {
    background: #222;
    color     : #fff;
    position: absolute;
    display : block;
    right: 0;
    top  : 0;
}
#menu-raq {
    background: #fff;
    color     : #222;
    position: fixed;
    display : none ;
    left : 0;
    top  : 0;
}
#menu-laq,
#menu-raq {
    width: 15px;
    padding-left : 0;
    padding-right: 0;
    border-width : 0;
    border-radius: 0;
    text-align: center;
}
#menu-laq:hover,
#menu-raq:hover {
    background: #666;
    color     : #ddd;
}

.menubox ul {
    list-style: none;
    margin : 0;
    padding: 0;
}
.menubox li {
    margin : 8px 0;
}
.menubox li li {
    margin : 2px 0;
}
.menubox li a {
    padding: 6px 4px 6px 15px;
}
.menubox li li a {
    padding: 6px 4px 6px 30px;
}
.menubox li a {
    display: block;
    color: #eeeeee;
    background: #242424;
    border-left: 2px solid #242424;
}
.menubox li.active > a {
    display: block;
    color: #ff8888;
    background: #202020;
    border-left: 2px solid #ff8888;
}
.menubox li :hover {
    background: #202020;
}
.menubox li .caret {
    float : right;
    margin: 9px 0;
}

.statbox .checkbox label {
    line-height: 21px;
    font-size: 12px;
    display: block;
}

.manage-file-list .pagination,
.manage-file-list .page-count {
    display: none ;
}
