<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hongs CORE Framework</display-name>
    <context-param>
        <param-name>debug</param-name>
        <param-value>3</param-value>
    </context-param>
    <!-- Acts Servlet -->
    <servlet>
        <servlet-name>Acts</servlet-name>
        <servlet-class>app.hongs.action.serv.ActsAction</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acts</servlet-name>
        <url-pattern>*.act</url-pattern>
    </servlet-mapping>
    <!-- Apis Servlet -->
    <servlet>
        <servlet-name>Apis</servlet-name>
        <servlet-class>app.hongs.action.serv.ApisAction</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apis</servlet-name>
        <url-pattern>*.api</url-pattern>
    </servlet-mapping>
    <!-- Conf Servlet -->
    <servlet>
        <servlet-name>Conf</servlet-name>
        <servlet-class>app.hongs.action.serv.ConfAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conf</servlet-name>
        <url-pattern>/common/conf/*</url-pattern>
    </servlet-mapping>
    <!-- Lang Servlet -->
    <servlet>
        <servlet-name>Lang</servlet-name>
        <servlet-class>app.hongs.action.serv.LangAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lang</servlet-name>
        <url-pattern>/common/lang/*</url-pattern>
    </servlet-mapping>
    <!-- Auth Servlet -->
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>app.hongs.action.serv.AuthAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/common/auth/*</url-pattern>
    </servlet-mapping>
    <!-- XSRF Filter -->
    <filter>
        <filter-name>XsrfFilter</filter-name>
        <filter-class>app.hongs.serv.common.XsrfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XsrfFilter</filter-name>
        <url-pattern>*.act</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XsrfFilter</filter-name>
        <url-pattern>*.api</url-pattern>
    </filter-mapping>
    <!-- Sess Filter -->
    <filter>
        <filter-name>SessFilter</filter-name>
        <filter-class>app.hongs.serv.common.SessFilter</filter-class>
        <init-param>
            <param-name>session-max-age</param-name>
            <param-value>604800</param-value>
        </init-param>
        <init-param>
            <param-name>cookie-max-age</param-name>
            <param-value>604800</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessFilter</filter-name>
        <url-pattern>*.act</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessFilter</filter-name>
        <url-pattern>*.api</url-pattern>
    </filter-mapping>
    <!-- Auth Filter -->
    <filter>
        <filter-name>AuthFilter_Manage</filter-name>
        <filter-class>app.hongs.action.serv.AuthFilter</filter-class>
        <init-param>
            <param-name>config-name</param-name>
            <param-value>manage</param-value>
        </init-param>
        <init-param>
            <param-name>index-page</param-name>
            <param-value>/manage/index.html</param-value>
        </init-param>
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/manage/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>ignore-urls</param-name>
            <param-value>/manage/login.html;/manage/sign/create.act;/manage/sign/delete.act;*.api</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter_Manage</filter-name>
        <url-pattern>/manage/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Auto Filter -->
    <filter>
        <filter-name>AutoFilter_Manage</filter-name>
        <filter-class>app.hongs.action.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>action-path</param-name>
            <param-value>/manage/auto</param-value>
        </init-param>
        <init-param>
            <param-name>layout-path</param-name>
            <param-value>/manage/auto</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFilter_Manage</filter-name>
        <url-pattern>/manage/data/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AutoFilter_Handle</filter-name>
        <filter-class>app.hongs.action.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>action-path</param-name>
            <param-value>/handle/auto</param-value>
        </init-param>
        <init-param>
            <param-name>layout-path</param-name>
            <param-value>/handle/auto</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFilter_Handle</filter-name>
        <url-pattern>/handle/data/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Session Sets -->
    <session-config>
        <session-timeout>43200</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
        <cookie-config>
            <name>SSID</name>
            <max-age>604800</max-age>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <!-- Default Tags -->
    <jsp-config>
        <taglib>
            <taglib-uri>/hongs.tag</taglib-uri>
            <taglib-location>web.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!-- Another Sets -->
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <!--
    <error-page>
       <error-code>500</error-code>
       <location>/500.jsp</location>
    </error-page>
    <error-page>
       <exception-type>java.lang.Exception</exception-type>
       <location>/500.jsp</location>
    </error-page>
    <error-page>
       <exception-type>javax.servle.ServletException</exception-type>
       <location>/500.jsp</location>
    </error-page>
    //-->
    <icon>
        <small-icon>/favicon.ico</small-icon>
        <large-icon>/favicon.ico</large-icon>
    </icon>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
</web-app>
