<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
    metadata-complete="true">
    <display-name>Hongs CORE Framework</display-name>
    <context-param>
        <param-name>debug</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Acts Servlet -->
    <servlet>
        <servlet-name>Acts</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.ActsAction</servlet-class>
        <multipart-config>
            <max-file-size>20971520</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acts</servlet-name>
        <url-pattern>*.act</url-pattern>
    </servlet-mapping>
    <!-- Apis Servlet -->
    <servlet>
        <servlet-name>Apis</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.ApisAction</servlet-class>
        <multipart-config>
            <max-file-size>20971520</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apis</servlet-name>
        <url-pattern>*.api</url-pattern>
    </servlet-mapping>
    <!-- REST Servlet -->
    <servlet>
        <servlet-name>Rest</servlet-name>
        <servlet-class>io.github.ihongs.normal.serv.RestAction</servlet-class>
        <multipart-config>
            <max-file-size>20971520</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rest</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <!-- SACL Servlet -->
    <servlet>
        <servlet-name>Sacl</servlet-name>
        <servlet-class>io.github.ihongs.normal.serv.SaclAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sacl</servlet-name>
        <url-pattern>/common/auth/*</url-pattern>
        <url-pattern>/common/conf/*</url-pattern>
        <url-pattern>/common/lang/*</url-pattern>
    </servlet-mapping>
    <!-- SPAR Filter -->
    <filter>
        <filter-name>SparFilter</filter-name>
        <filter-class>io.github.ihongs.normal.serv.SparFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SparFilter</filter-name>
        <url-pattern>/public/*</url-pattern>
    </filter-mapping>
    <!-- XSRF Filter -->
    <filter>
        <filter-name>XsrfFilter</filter-name>
        <filter-class>io.github.ihongs.normal.serv.XsrfFilter</filter-class>
        <init-param>
            <param-name>ignore-urls</param-name>
            <param-value>/centre/oauth2/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XsrfFilter</filter-name>
        <url-pattern>*.act</url-pattern>
        <url-pattern>*.api</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <!-- Auth Filter -->
    <filter>
        <filter-name>AuthFilter_Centra</filter-name>
        <filter-class>io.github.ihongs.action.serv.AuthFilter</filter-class>
        <init-param>
            <param-name>config-name</param-name>
            <param-value>centra</param-value>
        </init-param>
        <init-param>
            <param-name>index-page</param-name>
            <param-value>/centra/index.html</param-value>
        </init-param>
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/centra/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>ignore-urls</param-name>
            <param-value>
                *.js;*.css;*.png;*.gif;*.jpg;*.bmp;*.api;/api/*;
                /centra/sign/*;/centra/login.html;
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter_Centra</filter-name>
        <url-pattern>/centra/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AuthFilter_Centre</filter-name>
        <filter-class>io.github.ihongs.action.serv.AuthFilter</filter-class>
        <init-param>
            <param-name>config-name</param-name>
            <param-value>centre</param-value>
        </init-param>
        <init-param>
            <param-name>index-page</param-name>
            <param-value>/centra/index.html</param-value>
        </init-param>
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/centre/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>ignore-urls</param-name>
            <param-value>
                *.js;*.css;*.png;*.gif;*.jpg;*.bmp;*.api;/api/*;
                /centre/sign/*;/centre/login.html;
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter_Centre</filter-name>
        <url-pattern>/centre/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Auto Filter -->
    <filter>
        <filter-name>AutoFilter_Centra</filter-name>
        <filter-class>io.github.ihongs.action.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>layout-path</param-name>
            <param-value>/centra/base</param-value>
        </init-param>
        <init-param>
            <param-name>action-path</param-name>
            <param-value>/centra/data</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFilter_Centra</filter-name>
        <url-pattern>/centra/data/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AutoFilter_Centre</filter-name>
        <filter-class>io.github.ihongs.action.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>layout-path</param-name>
            <param-value>/centre/base</param-value>
        </init-param>
        <init-param>
            <param-name>action-path</param-name>
            <param-value>/centre/data</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFilter_Centre</filter-name>
        <url-pattern>/centre/data/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Session Sets -->
    <session-config>
        <session-timeout>10080</session-timeout><!-- for minute, 1 week -->
        <tracking-mode>COOKIE</tracking-mode>
        <tracking-mode>URL</tracking-mode>
        <cookie-config>
            <http-only>true</http-only>
            <name>s</name>
        </cookie-config>
        <url-config>
            <name>s</name>
        </url-config>
    </session-config>
    <!-- Default Tags -->
    <jsp-config>
        <taglib>
            <taglib-uri>/hongs.tag</taglib-uri>
            <taglib-location>web.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!-- Another Sets -->
    <error-page>
        <error-code>400</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <!--
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servle.ServletException</exception-type>
        <location>/500.jsp</location>
    </error-page>
    //-->
    <icon>
        <small-icon>/favicon.ico</small-icon>
        <large-icon>/favicon.ico</large-icon>
    </icon>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
</web-app>
