/target
/*/target
/*/lib/*.jar
**/WEB-INF/lib
**/WEB-INF/var
**/WEB-INF/classes
/hongs-dev/lib
/hongs-dev/var
/hongs-env/*.tar.gz

*.pyc
*.pyo
*.iml
*.iws
.idea
.project
.settings
.classpath
.factorypath
nbproject
nbactions*
nb-config*
desktop.ini
Thumbs.db
.DS_Store
