/target
/*/target
/*/lib/*.jar
**/WEB-INF/lib
**/WEB-INF/var
**/WEB-INF/classes
/hongs-env/jdk*

desktop.ini
Thumbs.db
.DS_Store
.project
.idea
*.iml
*.iws
*.pyc
*.pyo
nbproject
nbactions*
nb-config*
