/**
 * HongsCORE 公共样式
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/28 22:10
 */

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, table {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
.btn, .tooltip, .popover {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
code, pre, var, dfn, kbd {
    font-family: "Courier New",Monaco,Menlo,monospace;
}

/** Bootstrap 调整 **/

.invisible {
    visibility: hidden;
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
    max-width: 0;
    max-height: 0;
}

.nav-tabs ,
.nav-pills,
.breadcrumb {
    margin-bottom: 15px;
}

.nav .close {
    margin-right: -15px;
    margin-top: -6.5px;
    padding: 0 6px;
}
.btn .close {
    margin-right: -11px;
    margin-top: -2.5px;
    padding: 0 2px;
}
.breadcrumb .close {
    display: none;
}
.btn.btn-default .close,
.btn.btn-primary .close,
.btn.btn-success .close,
.btn.btn-warning .close,
.btn.btn-danger .close,
.btn.btn-info .close {
    color: #eee;
}
.form-group .close,
.form-group .close:hover ,
.form-group .close:focus {
    color: #666;
}

.form-control {
    height: auto;
}
select.form-control {
    height: 2.76923077em;
}
select.form-control[multiple],
textarea.form-control {
    height: 8.30769231em;
    min-height:  8.30769231em;
    max-height: 49.84615386em;
    resize: vertical;
}
.form-control[disabled] {
    background: #ddd;
    cursor: default;
}
.form-control[readonly] {
    background: #fff;
    cursor: default;
}

.navbar-default
.navbar-toggle ,
.navbar-toggle {
    border-color: transparent;
}
.dropdown-toggle {
    cursor: pointer;
}
fieldset>.dropdown-body ,
fieldset>.dropdown-menu {
    margin-top: -10px;
}

.center-block {
    float  : none;
}
.help-block:empty {
    display: none;
}
.help-block.form-control-static {
    margin-top: 0;
    margin-bottom: 0;
}

.checkbox  label ,
.radio     label {
    margin-right: 1.0em;
}

/** 可后退的导航条 **/

.breadcrumb.laps {
    background: #ffffff;
}
.breadcrumb.laps > li.home-crumb i {
    margin-right: 0.5em;
}
.breadcrumb.laps > li.home-crumb i ,
.breadcrumb.laps > li.back-crumb i {
    color: #666;
}
.breadcrumb.laps > li + li.home-crumb:before {
    padding: 0 ;
}
.breadcrumb.laps > li + li.home-crumb:before ,
.breadcrumb.laps > li + li.back-crumb:before {
    content: "";
}

/** 其他的组件调整 **/

/* jquery-ui */
.ui-sortable-handle,
.ui-draggable-handle ,
.ui-droppable-handle {
    touch-action: none;
    -ms-touch-action: none;
}

/* bootstrap */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
input[type="datetime-local"].form-control,
input[type="date"].form-control ,
input[type="time"].form-control {
    line-height: 2.5;
    padding-top: 0px;
    padding-bottom: 0px;
}
}

/* bootstrap-tagsinput */
div.bootstrap-tagsinput.form-control {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* bootstrap-fileinput */
.file-preview-frame .file-preview-image,
.file-preview-frame video,
.file-preview-frame audio,
.file-preview-frame object {
    width: auto;
    height: 160px;
    max-width: 100%;
}
.file-preview .close {
    margin-right: 4px;
}

/* summernote */
.note-editor.panel {
    margin: 0;
}
.note-editor .note-btn i+.note-icon-caret {
    margin: 0 -6px 0 0;
}
.note-editor .note-btn .note-current-fontsize ,
.note-editor .note-btn .note-current-fontname {
    margin: -1px 0 0 0;
    line-height: 1.1em;
    text-align: center;
    vertical-align: middle;
}
.note-editor .note-popover .note-para .dropdown-menu ,
.note-editor .note-toolbar .note-para .dropdown-menu {
    width: 222px;
}

/* codemirror */
.CodeMirror.form-control,
.CodeMirror.form-control-static {
    background: #fefefe;
    padding: 0;
}
.CodeMirror.form-control        .CodeMirror-lines {
    padding: 11px 0 11px 0;
}
.CodeMirror.form-control-static .CodeMirror-lines {
    padding: 12px 0 12px 0;
}

/** 布局 **/

#notebox {
    background: transparent;
    position: fixed;
    display: none;
    z-index: 1040;
    width: 100%;
    left: 0;
    top: 0;
}
#notebox .alert,
.modal > .alert,
.alert-body > p:nth-last-child(1) {
    margin: 0;
}
.alert-body > p button {
    margin: 0 0.5em;
}
.alert-body > p.warn-btns {
    text-align : right;
}
.alert-body > p.warn-text {
    white-space: pre-wrap;
}

#notebox .alert {
    opacity: 0.8;
}
.modal > .alert {
    color: #eeeeee;
    border-color: #606262;
    background: #2e2f2faa;
}
.modal > .alert.alert-info {
    background: #029acfcc;
}
.modal > .alert.alert-danger  {
    background: #d9230fcc;
}
.modal > .alert.alert-warning {
    background: #79377ccc;
}
.modal > .alert.alert-success {
    background: #469408cc;
}
.modal-header .close {
    margin-top: 2px;
}

.labs>*>h1,
.labs>*>h2,
.labs>*>.openbox>h1,
.labs>*>.openbox>h2,
.modal-body.openbox>h1 ,
.modal-body.openbox>h2 {
    display: none;
}

#headbox .uhead {
    width : 29px;
    height: 29px;
    border-radius: 50% ;
    margin-bottom: -9px;
    margin-top   : -6px;
    display: inline-block;
    background-position : center;
    background-repeat: no-repeat;
}

#footbox.navbar {
    background: #fcfcfc;
    min-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}
#footbox blockquote {
    font-size : 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#bodybox {
    margin-top: 58px;    /* 顶部菜单 */
    margin-bottom: 50px; /* 底部通栏 */
}

.main-context ,
.side-context {
    padding: 0;
}

/** 列表 **/

.listbox ,
.pagebox ,
.toolbox ,
.findbox {
    margin-bottom: 15px;
}
.toolbox.invisible ,
.findbox.invisible {
    margin-bottom: 0
}
.toolbox.btn-group {
    padding-right: 0;
    padding-left : 0;
}

.listbox .table,
.toolbox .alert,
.pagebox .alert,
.pagebox .pager,
.pagebox .pagination {
    margin : 0;
}
.pagebox .page-count {
    margin : 0;
    padding: 9px 13px;
}

.listbox ._admin,
.listbox ._check,
.listbox ._radio {
    width: 1.5em;
}
.listbox ._hdate,
.listbox ._htime,
.listbox .date ,
.listbox .time {
    width: 7.0em;
}
.listbox .datetime {
    width: 10em;
}
.listbox td.id {
    width: 10em;
    font-family: "Courier New",Monaco,Menlo,monospace;
}

.listbox thead .sortable {
    cursor: pointer;
}
.listbox thead .sort-ico {
    display: inline-block;
    color: #2780e3;
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
}
.listbox thead .sort-asc .sort-ico ,
.listbox thead .sort-esc .sort-ico {
    top: 1px;
    margin-left: 0.5em;
    position: relative;
}
.listbox thead .sort-asc .sort-ico:before {
    content: "\e151";
}
.listbox thead .sort-esc .sort-ico:before {
    content: "\e152";
}
.listbox thead .sort-asc.numerial .sort-ico:before {
    content: "\e153";
}
.listbox thead .sort-esc.numerial .sort-ico:before {
    content: "\e154";
}

/** 旧的三角排序符 **/
/*
.listbox thead .sort-ico {
    border: 0;
    margin-left: 4px;
}
.listbox thead .sort-a-z .sort-ico ,
.listbox thead .sort-z-a .sort-ico {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.listbox thead .sort-a-z .sort-ico {
    border-bottom: 6px solid #ccc;
}
.listbox thead .sort-a-z:hover .sort-ico {
    border-bottom-color: #666;
}
.listbox thead .sort-z-a .sort-ico {
    border-top: 6px solid #ccc;
}
.listbox thead .sort-z-a:hover .sort-ico {
    border-top-color: #666;
}
*/

/** 树形 **/

.tree-list {
    margin-left: 1em;
    border-left: 1px dotted #eee;
}
.treebox:hover .tree-list {
    border-left: 1px dotted #ccc;
}
.tree-node {
    line-height: 2.2em;
    cursor: pointer;
}
.tree-root {
    padding-left: 0;
    border-left : 0;
    margin-left : 0;
}
.tree-node table,
.tree-node table td {
    margin: 0 4px;
    border: 0;
    border-spacing: 0;
}
.tree-curr>table,
.tree-curr>table td {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.tree-hand {
    width: 20px;
}
.tree-hand .caret {
    /*
    background-image: url(../img/tree-hand.gif);
    */
    border: 0;
    margin-left: 0;
}
.tree-fold>table .tree-hand .caret {
    /*
    background-image: url(../img/tree-hand-fold.gif);
    */
    margin-top: -2px;
    margin-left: 9px;
    border-right: 0;
    border-left: 4px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.tree-fold>table .tree-hand:hover .caret {
    margin-top: -2px;
    margin-left: 9px;
    border-right: 0;
    border-left: 4px solid #f99;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.tree-open>table .tree-hand .caret {
    /*
    background-image: url(../img/tree-hand-open.gif);
    */
    margin-top: -3px;
    margin-left: 1px;
    border-bottom: 0;
    border-right: 6px solid #666;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
}
.tree-open>table .tree-hand:hover .caret {
    margin-top: -3px;
    margin-left: 1px;
    border-bottom: 0;
    border-right: 6px solid #f66;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
}

.tree-cnum {
    display: none;
}

/** 其他 **/

ul.pickbox {
    padding: 0;
    margin : 0;
}
ul.pickbox:after {
    clear: both;
    content: "";
    display: table;
}
ul.pickbox > li {
    float: left;
}
ul.pickbox > li.btn {
    width: 100%;
    text-align: left;
}
ul.pickbox > li.btn span {
    float: left;
    overflow: hidden;
}
ul.pickbox > li.btn span.picktxt {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
}
ul.pickmul > li.btn {
    margin-bottom: 1px;
}
ul.pickrol > li.btn {
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left : 0px;
    box-shadow   : none;
    font-weight  : inherit;
    border-color : transparent;
    background   : transparent;
    color: inherit;
}
ul.pickrol .close {
    display: none ;
}

.preview {
    position: relative;
}
.preview a ,
.preview img {
    position: absolute;
}
.preview {
    padding: 0px;
    border : 0px;
    margin : 1px;
	border-radius: 4px;
    box-shadow: 0 0 0.2em #000;
}
.preview .close {
    top   :  7px;
    right :  7px;
    width : 24px;
    height: 24px;
    line-height : 21px;
    text-align: center;
    background: silver;
    border-radius: 50%;
    box-shadow: 0 0 0.2em #000;
}
.preview:hover
.preview .close:hover {
    box-shadow: 0 0 0.5em #000;
}

.progbox.alert {
    background: rgba(0, 0, 0, 0.5);
}
.progbox .progress {
    margin: 0 0;
}
.progbox .progress-bar {
    width: 100%;
}

.datebox.input-group {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 12px;
}
.datebox.input-group select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.datebox.input-group .clear ,
.datebox.input-group .today {
    margin-left: 0.5em;
    cursor: pointer;
    color : #cccccc;
}
.datebox.input-group .clear:hover ,
.datebox.input-group .today:hover {
    color : #666666;
}
.datebox.input-group .input-group-addon {
    background-color: #f8f8f8;
    box-shadow: none;
}
.datebox.input-group .form-control {
    background-color: #ffffff;
    border-radius: 0;
}
.datebox.input-group .input-group-addon ,
.datebox.input-group .form-control {
    width : auto;
    height: 34px;
    border: 0;
    padding-right: 4px;
    padding-left : 4px;
}
/** 修复 firefox 中 select 内总有 4px 的问题 **/
@-moz-document url-prefix() {
.datebox.input-group .form-control {
    padding-right: 0px;
    padding-left : 0px;
}
}

/* 优化文件上传样式 */
::-ms-browse {
    background : inherit;
    color      : inherit;
    font-family: inherit;
    font-size  : inherit;
    line-height: inherit;
    padding: 0;
    margin : 0;
    border : 0;
    width  : 0;
}
::-webkit-file-upload-button {
    background : inherit;
    color      : inherit;
    font-family: inherit;
    font-size  : inherit;
    line-height: inherit;
    padding: 0;
    margin : 0;
    border : 0;
    width  : 0;
}
input[type=file].form-control {
    padding: 10px 13px;
}
/** 修复 firefox 中 input 上传按钮不可调问题 **/
@-moz-document url-prefix() {
input[type=file].form-control {
    padding:  0px  0px;
}
}

/** 适配 **/

@media (min-width: 630px) {
    #notebox {
        margin: 0 -300px;
        width : 600px;
        left  :  50% ;
    }
    .modal > .alert,
    .alert > .warnbox {
        margin: 0  auto ;
        width : 600px;
    }
    .modal > .warnbag {
        border-radius: 0;
        width : 100% ;
    }
}
