/**
 * HongsCORE 公共样式
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/28 22:10
 */

/*
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, table {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
.btn, .tooltip, .popover {
    font-family: "Microsoft Yahei","Helvetica Neue","Open Sans",Helvetica,Tahoma,Arial,sans-serif;
}
code, pre, var, dfn, kbd {
    font-family: "Courier New",Monaco,Menlo,monospace;
}
*/

/** Bootstrap 调整 **/

.invisible ,
:not(.dropup) > .dropdown-body ,
:not(.dropup) > .dropdown-list {
    visibility: hidden;
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
    max-width: 0;
    max-height: 0;
}

/* 微调对齐 */
.glyphicon {
    top: 2px;
}

.center-block {
    float: none;
}

.dropdown-toggle {
    cursor: pointer;
}
fieldset>.dropdown-body ,
fieldset>.dropdown-list {
    margin-top: -10px;
}

.btn .close {
     box-shadow: none;
    text-shadow: none;
    line-height: 20px;
    margin-right:-4px;
    opacity: 0.8;
    color: #ccc;
}
.btn .close:hover ,
.btn .close:focus {
    opacity: 1.0;
    color: #666
}
.btn-sm .close ,
.form-group-sm .btn .close {
    line-height: 18px;
}
.btn-lg .close ,
.form-group-lg .btn .close {
    line-height: 24px;
}

.btn.text-left {
    text-align : left;
}
.btn.text-right {
    text-align : right;
}
.btn.text-center {
    text-align : center;
}
.btn.form-control {
    background-image : none;
     box-shadow: none;
    text-shadow: none;
    text-align : left;
}
.btn-default.form-control {
    color: #999;
}

textarea.form-control,
select.form-control[multiple] {
        height:  8.30769231em;
    min-height:  8.30769231em;
    max-height: 49.84615386em;
    resize: vertical;
}
.form-control[disabled] {
    background: #ddd;
    cursor: default;
}
.form-control[readonly] {
    background: #fff;
    cursor: default;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
input[type="datetime-local"].form-control,
input[type="date"].form-control ,
input[type="time"].form-control {
    line-height   : 2.5;
    padding-top   : 0;
    padding-bottom: 0;
}
}

.form-control-static._text {
    white-space: pre-wrap;
}
.form-control-static._html {
    white-space: normal;
}
.form-control-static._html>:last-child {
    margin-bottom: 0;
}

.radio legend ,
.checkbox legend {
    font-size: inherit;
    color : #777;
    margin: 0;
}

/* 修正选择框在特殊表单组下不变化的问题 */
.form-group-lg .radio ,
.form-group-lg .checkbox {
    font-size: 18px;
}
.form-group-sm .radio ,
.form-group-sm .checkbox {
    font-size: 12px;
}
.form-group-sm .radio input[type=radio] ,
.form-group-sm .checkbox input[type=checkbox] {
    margin-top: 2px;
}

/* 修正横向布局表单内嵌模态框内样式问题 */
.form-horizontal .alert-body>.form-group ,
.form-horizontal .modal-body>.form-group ,
.form-horizontal form:not(.form-horizontal) .form-group {
    margin-left : 0;
    margin-right: 0;
}

.form-group .help-block:empty ,
.form-group .text-error:empty ,
.form-group .text-muted:empty {
    display: none;
}
.help-block.form-control-static {
    margin-top   : 0;
    margin-bottom: 0;
}
             .help-block.text-muted ,
.has-error   .help-block.text-muted ,
.has-success .help-block.text-muted ,
.has-warning .help-block.text-muted {
    color: #777;
}

/* 必填标识 */
.form-icon-required:before ,
.form-icon-requires:before {
    color: #a44;
    content: '\2731';
}

/** 响应式表格区 **/

.table-responsive {
    margin-bottom: 20px;
}
.table-responsive>.table {
    margin-bottom:  0px;
}
.table tbody tr.active td ,
.table tbody tr.active th {
    color: #444444;
    background: #e8e8e8;
}
.table tbody tr.active:hover td ,
.table tbody tr.active:hover th {
    color: #000000;
    background: #e0e0e0;
}

/** 可后退导航条 **/

.laps.tabs .active .hide.title {
    display: inline !important;
}
.laps.tabs            .back-crumb ,
.laps.tabs.bread-home .hook-crumb ,
.laps.tabs.bread-hook .hook-crumb {
    display: block;
}
.laps.tabs            .hook-crumb ,
.laps.tabs.bread-home .back-crumb ,
.laps.tabs.bread-hook .back-crumb ,
.laps.tabs.bread-hold .back-crumb {
    display: none ;
}

.breadcrumb.laps .close {
    display: none ;
}
.breadcrumb.laps > li i + * {
    margin-left: 0.5em;
}
.breadcrumb.laps > li.pull-right {
    margin-left: 1.0em;
}
.breadcrumb.laps > li.home-crumb:before ,
.breadcrumb.laps > li.back-crumb:before ,
.breadcrumb.laps > li.hook-crumb:before ,
.breadcrumb.laps > li.hold-crumb:before {
    padding: 0 ;
    content: "";
}

/** 其他组件调整 **/

/* jquery-ui */
.ui-sortable-handle,
.ui-draggable-handle ,
.ui-droppable-handle {
    touch-action: none;
    -ms-touch-action: none;
}

/* bootstrap-tagsinput */
div.bootstrap-tagsinput.form-control {
    padding: 2px 4px;
}
div.bootstrap-tagsinput.form-control input {
    padding: 0px 8px;
}
div.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "\00d7";
}
.form-group-sm div.bootstrap-tagsinput.form-control {
    padding: 2px 4px;
}
.form-group-lg div.bootstrap-tagsinput.form-control {
    padding: 4px 6px;
}

/* bootstrap-fileinput */
.file-preview-frame .file-preview-image,
.file-preview-frame video,
.file-preview-frame audio,
.file-preview-frame object {
    width: auto;
    height: 160px;
    max-width: 100%;
}
.file-preview .close {
    margin-right: 4px;
}

/* summernote */
.note-editor.panel {
    margin: 0;
}
.note-editor .note-btn i+.note-icon-caret {
    margin: 0 -6px 0 0;
}
.note-editor .note-btn .note-current-fontsize ,
.note-editor .note-btn .note-current-fontname {
    margin: -1px 0 0 0;
    line-height: 1.1em;
    text-align: center;
    vertical-align: middle;
}
.note-editor .note-popover .note-para .dropdown-menu ,
.note-editor .note-toolbar .note-para .dropdown-menu {
    width: 222px;
}

/* codemirror */
.CodeMirror.form-control        ,
.CodeMirror.form-control-static {
    background: #fefefe;
    padding: 0;
}
.CodeMirror.form-control        .CodeMirror-lines {
    padding: 11px 0 11px 0;
}
.CodeMirror.form-control-static .CodeMirror-lines {
    padding: 12px 0 12px 0;
}

/** 布局 **/

.flex-middle {
    display  : flex;
    flex-wrap: wrap;
    align-content: center;
}
.flex-center {
    display  : flex;
    flex-wrap: wrap;
    justify-content: center;
}

.labs>*>h1,
.labs>*>h2,
.labs>*>.loadbox>h1,
.labs>*>.loadbox>h2,
.modal-body.loadbox>h1 ,
.modal-body.loadbox>h2 {
    display: none;
}

.modal-header:empty ,
.modal-footer:empty {
    display: none;
}

.alert.dialog {
    border-color: rgba(204,204,204,0.3);
    box-shadow: 0 0 30px #333;
    color : #eee;
    margin: 0;
}
.alert.warnbox ,
.alert.waitbox {
    padding: 30px 15px;
}
.alert-footer {
    text-align : right;
}
.alert-footer button {
    margin-left: 5px;
}
.alert-header h3 ,
.alert-header h4 {
    margin-bottom: 0;
}
.alert-header .close {
    margin-bottom: 0;
}
.modal-header .close {
    margin-top : 0px;
}
.alert-content>.alert-body ,
.alert-content>.alert-footer {
    margin-top : 1em;
}
.alert-content>.alert-body:empty ,
.alert-content>.alert-footer:empty {
    margin-top : 0em;
}
.alert.dialog .alert-header .close {
    margin-top : -0.15em;
    color : #fff;
    opacity: 0.5;
}
.alert.dialog .alert-header .close:hover ,
.alert.dialog .alert-header .close:focus {
    opacity: 1.0;
}

/* 对话框背景色, 类按钮情景色 */
.alert.dialog ,
.alert.dialog.alert-default {
    background: rgb (51,51,51);
    background: rgba(51,51,51,0.8);
}
.alert.dialog.alert-info {
    background: rgb (0,102,153);
    background: rgba(0,102,153,0.8);
}
.alert.dialog.alert-success {
    background: rgb (0,102,0);
    background: rgba(0,102,0,0.8);
}
.alert.dialog.alert-warning {
    background: rgb (102,0,0);
    background: rgba(102,0,0,0.8);
}
.alert.dialog.alert-danger  {
    background: rgb (153,0,102);
    background: rgba(153,0,102,0.8);
}
.alert.dialog .btn-link {
    color : #fff;
}
.alert.dialog .btn-link:hover ,
.alert.dialog .btn-link:focus {
    color : #ddd;
}

/** 适配 **/

.modal-bottom {
    align-items: flex-end;
    display: flex;
}
.modal-middle {
    align-items: center;
    display: flex;
}
.modal {
    padding: 10px;
}
.modal-dialog ,
.alert.dialog {
    margin :  0px;
    width  : 100%;
}
@media (min-width: 768px) {
    .modal {
        padding : 0px;
    }
    .modal-dialog {
        width : 600px;
        margin:  30px auto;
        border-radius: 6px;
    }
    .modal-dialog.modal-lg {
        width : 900px;
    }
    .modal-dialog.modal-sm {
        width : 300px;
    }
    .alert.dialog {
        width : 600px;
        margin:  30px auto;
        border-radius: 6px;
    }
    .alert.warnbox ,
    .alert.waitbox {
        width : 100% ;
        margin:   0px auto;
        border-radius: 0px;
        border-right : 0px;
        border-left  : 0px;
    }
    .alert.warnbox>.alert-content ,
    .alert.waitbox>.alert-content {
        width : 600px;
        margin:   0px auto;
    }
    /* 规避警告框右侧的滚动条间隙 */
    .alert-modal {
        padding-right: 0 !important;
    }
}

/** 列表 **/

/* 修正响应式表格在移动端不出滚动条的问题 */
.table-responsive-revised {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table-responsive-revised th ,
.table-responsive-revised td {
    max-width: 20em;
    white-space: nowrap;
    overflow-x : hidden;
    overflow-y : hidden;
    text-overflow: ellipsis;
}

.listbox.invisible ,
.pagebox.invisible ,
.findbox.invisible ,
.toolbox.invisible {
    margin-bottom: 0;
}

.pagebox .alert ,
.pagebox .pager ,
.pagebox .pagination {
    margin-top : 0;
}
.pagebox .page-text a {
    margin-left: 10px;
}
.pagebox .page-text   {
    line-height: 36px;
}
.pagebox .alert {
    text-align : center;
    background-image: none;
}

.listbox ._amenu,
.listbox ._check,
.listbox ._radio {
    width: 1.5em;
}
.listbox ._hdate,
.listbox ._htime,
.listbox .date ,
.listbox .time {
    width: 7.0em;
}
.listbox .datetime {
    width: 10.5em;
}
.listbox th._amenu ,
.listbox td._amenu {
    overflow: visible;
}
.listbox th._rowid ,
.listbox td._rowid {
    display : none !important;
}

/* 横向菜单 */
.listbox ._amenu .dropdown-menu {
    white-space : nowrap;
    min-width: 0;
    top  : -10px;
    left : 1.0em;
    padding: 4px 4px;
}
.listbox ._amenu .dropdown-menu a  {
    padding: 3px 8px;
}
.listbox ._amenu .dropdown-menu li {
    display: inline-block;
}
.listbox ._amenu .dropdown-menu li.divider {
    width :  1px;
    height: 20px;
    margin: -5px 1px;
    background: #ccc;
}
.listbox ._amenu .dropdown-menu.dropdown-menu-left  {
    left : 1em ;
    right: auto;
}
.listbox ._amenu .dropdown-menu.dropdown-menu-right {
    left : auto;
    right: 1em ;
}

/* 排序符号 */
.listbox thead .sortable {
    cursor: pointer;
}
.listbox thead .sort-ico {
    color  : #aaa;
    display: inline-block;
    font-size  : 0.8em ;
    font-style : normal;
    font-weight: normal;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
}
.listbox thead .sort-asc .sort-ico ,
.listbox thead .sort-esc .sort-ico {
    top: 1px;
    margin-left: 0.5em;
    position: relative;
}
.listbox thead .sort-asc .sort-ico:before {
    content: "\e151";
}
.listbox thead .sort-esc .sort-ico:before {
    content: "\e152";
}
.listbox thead .sort-asc.numerial .sort-ico:before {
    content: "\e153";
}
.listbox thead .sort-esc.numerial .sort-ico:before {
    content: "\e154";
}

/** 旧的三角排序符 **/
/*
.listbox thead .sort-ico {
    border: 0;
    margin-left: 4px;
}
.listbox thead .sort-a-z .sort-ico ,
.listbox thead .sort-z-a .sort-ico {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.listbox thead .sort-a-z .sort-ico {
    border-bottom: 6px solid #ccc;
}
.listbox thead .sort-a-z:hover .sort-ico {
    border-bottom-color: #666;
}
.listbox thead .sort-z-a .sort-ico {
    border-top: 6px solid #ccc;
}
.listbox thead .sort-z-a:hover .sort-ico {
    border-top-color: #666;
}
*/

/** 树形 **/

.tree-list {
    margin-left: 1em;
    border-left: 1px dotted #eee;
}
.treebox:hover .tree-list {
    border-left: 1px dotted #ccc;
}
.tree-node {
    line-height: 2.2em;
    cursor: pointer;
}
.tree-root {
    padding-left: 0;
    border-left : 0;
    margin-left : 0;
}
.tree-node table,
.tree-node table td {
    border: 0;
    border-spacing: 0;
}
.tree-curr>table,
.tree-curr>table td {
    font-weight: bold;
    text-decoration: underline;
}

.tree-hand {
    width: 20px;
}
.tree-hand .caret {
    /*
    background-image: url(../img/tree-hand.gif);
    */
    border: 0;
    margin-left: 0;
}
.tree-fold>table .tree-hand .caret {
    /*
    background-image: url(../img/tree-hand-fold.gif);
    */
    margin-top: -2px;
    margin-left: 9px;
    border-right: 0;
    border-left: 4px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.tree-fold>table .tree-hand:hover .caret {
    margin-top: -2px;
    margin-left: 9px;
    border-right: 0;
    border-left: 4px solid #f99;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.tree-open>table .tree-hand .caret {
    /*
    background-image: url(../img/tree-hand-open.gif);
    */
    margin-top: -3px;
    margin-left: 1px;
    border-bottom: 0;
    border-right: 6px solid #666;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
}
.tree-open>table .tree-hand:hover .caret {
    margin-top: -3px;
    margin-left: 1px;
    border-bottom: 0;
    border-right: 6px solid #f66;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
}

.tree-cnum {
    display: none;
}

/** 标签 **/

.radio     label ,
.checkbox  label {
    margin-right: 1em;
}
.repeated .label ,
.labelbox .label {
    margin-right: 6px;
    line-height : 2em;
    font-weight : inherit;
    font-size   : inherit;
}
.repeated .label .remove ,
.labelbox .label .remove {
    margin-left : 8px;
}

ul.repeated ,
ol.repeated ,
 p.repeated {
    padding: 0;
    margin: -0.3em 0;
    line-height: 2em;
    list-style: none;
}
.repeated:empty {
    display: none;
}
.repeated.pickmul {
    margin-bottom: 2px;
}
.repeated.pickrol {
    margin-bottom: 0px;
}

.form-control.labelbox {
    height : auto;
    padding: 2px 4px;
}
.form-group-sm .form-control.labelbox {
    padding: 2px 4px;
}
.form-group-lg .form-control.labelbox {
    padding: 4px 6px;
}

/** 其他 **/

/* 类似 panel 和 form-group, 但无边框无背景 */
.board {
    margin-bottom: 20px;
}
.board-top {
    margin-top: 20px;
}
.board-pad {
   padding-top: 20px;
}
.board-end:after {
    margin-bottom: -20px;
    display: table;
    content: "";
}
.group-end:after {
    margin-bottom: -15px;
    display: table;
    content: "";
}

/* 修正 panel 和 modal 中内容底部多余的空隙 */
.well>.board ,
.panel-body>.board ,
.modal-body>.board {
    margin-bottom: 0px;
}
.panel-body>.board-end ,
.modal-body>.board-end {
    margin-bottom: 5px;
}
.panel-body>.panel
.modal-body>.panel {
    border : 0;
    padding: 0;
    box-shadow: none;
}

hr.gap {
    border-top: 20px solid #ccc;
    margin : 0 -15px 20px -15px;
}
hr.double {
    border-width: 3px;
    border-style: double;
}
hr.dashed {
    border-style: dashed;
}
hr.dotted {
    border-style: dotted;
}

ul.pickbox {
    margin : 0;
    padding: 0;
    list-style: none;
}
ul.pickbox > li.btn {
    width        : 100%;
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
    text-align   : left;
}
ul.pickrol > li.btn {
    box-shadow   : none;
    font-weight  : normal;
    border-color : transparent;
    background   : transparent;
    padding-left : 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}
ul.pickbox > li.btn .glyphicon {
    margin-right : 9px;
    display : inline;
}
ul.pickrol > li.btn .glyphicon {
    margin-right : 0px;
    display : none;
}
ul.pickrol > li.btn-text,
ul.pickrol > li.btn-text:hover ,
ul.pickrol > li.btn-text:focus {
    cursor  : text;
    color   : inherit;
    user-select: text;
    font-weight: inherit;
}
ul.pickbox > li.btn-default.form-control ,
ul.pickrol > li.btn-default.form-control {
    color: #555;
}

.preview {
    position: relative;
    cursor  : pointer ;
    padding : 0;
    margin  : 0;
    border  : 1px solid #ccc;
    border-radius: 4px;
}
.preview img {
    position: absolute;
}
.preview .close {
    position: absolute;
    top   :  5px;
    right :  5px;
    width : 22px;
    height: 22px;
    border-radius: 50%;
    line-height : 20px;
    text-align: center;
    background: silver;
    box-shadow: 0 0 0.2em #000;
}
.preview .close:hover ,
.preview .close:focus {
    box-shadow: 0 0 0.5em #000;
}

.pickmul:after {
    clear  : both ;
    display: table;
    content: " "  ;
}
.pickmul.pickrol {
    display: table;
    width: 100%;
    margin-bottom:-2px;
}
.pickmul > .preview {
    float: left;
    margin-right : 2px;
    margin-bottom: 2px;
}
.pickmul > .btn {
    margin-bottom: 2px;
}

.pickbox:empty  ,
.pickrol .close ,
.pickrol  input {
    display: none;
}
/* 已选数量 */
.picksel .picksum {
    display: none;
}
.pickmul .picksum {
    display: inline;
}

.datebox.input-group {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 12px;
}
.datebox.input-group select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.datebox.input-group .clear ,
.datebox.input-group .today {
    margin-left: 0.5em;
    cursor: pointer;
    color : #cccccc;
}
.datebox.input-group .clear:hover ,
.datebox.input-group .today:hover {
    color : #666666;
}
.datebox.input-group .form-control {
    border-radius: 0;
}
.datebox.input-group .input-group-addon {
    box-shadow: none;
}
.datebox.input-group .form-control ,
.datebox.input-group .input-group-addon {
    width : auto;
    height: 32px;
    border: 0;
    padding-right: 8px;
    padding-left : 8px;
}
/** 修复 firefox 中 select 内总有 4px 的问题 **/
@-moz-document url-prefix() {
.datebox.input-group .form-control {
    padding-right: 0px;
    padding-left : 0px;
}
}

/* 优化文件上传样式 */
::-ms-browse {
    background : inherit;
    color      : inherit;
    font-family: inherit;
    font-size  : inherit;
    line-height: inherit;
    padding: 0;
    margin : 0;
    border : 0;
    width  : 0;
}
::-webkit-file-upload-button {
    background : inherit;
    color      : inherit;
    font-family: inherit;
    font-size  : inherit;
    line-height: inherit;
    padding: 0;
    margin : 0;
    border : 0;
    width  : 0;
}
input[type=file].form-control {
    padding: 10px 13px;
}
/** 修复 firefox 中 input 上传按钮不可调问题 **/
@-moz-document url-prefix() {
input[type=file].form-control {
    padding:  0px  0px;
}
}
