/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

#bodybox {
    margin-top   : 71px; /* 菜单和间距 */
    margin-bottom: 38px; /* 页尾的高度 */
}

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 4px;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

#headbox .navbar.navbar-fixed-top {
    box-shadow: 0 1px 18px #888;
}
#headbox .navbar.navbar-fixed-bottom ,
#headbox .navbar.navbar-fixed-bottom blockquote {
    min-height: 0;
    margin-bottom: 0;
    font-size : 12px;
}

/* 反色导航条 */
.breadcrumb.laps {
    border: 1px solid #222;
    background: #535353;
    margin-bottom: 20px;
}
.breadcrumb.laps ,
.breadcrumb.laps a {
    color: #fff;
}
.breadcrumb.laps a:hover ,
.breadcrumb.laps a:focus {
    color: #b22;
}
.breadcrumb.laps .active a {
    color: #b22;
    text-decoration: none;
}
.breadcrumb.laps .active.home-crumb a ,
.breadcrumb.laps .active.back-crumb a {
    color: #fff;
    text-decoration: none;
}

/* 主导航条默认隐藏 */
.container > .laps.tabs.bread-home {
    display: none;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content: "\e031";
}
