/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

#headbox .uhead {
    width : 29px;
    height: 29px;
    margin-top   : -6px;
    margin-bottom: -9px;
    border-radius: 50% ;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

#footbox.navbar ,
#footbox blockquote {
    background: #fcfcfc;
    font-size : 10px;
    min-height: 32px;
    margin-top   : 0;
    margin-bottom: 0;
}

#bodybox {
    margin-top   : 59px; /* 菜单和间距 */
    margin-bottom: 33px; /* 页尾的高度 */
}

/* 主导航条样式微调 */
.container > .breadcrumb.laps {
    background: #fff;
    border: 1px solid #ddd;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content : "\e031" ;
}
.input-group .input-search:disabled+.input-group-btn:last-child>.btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
