/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html ,
body {
    background: #f8f8f8;
}

#context {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#bodybox {
    flex: 1;
    padding-bottom: 39px;
}
#headbox {
    padding-top: 51px;
}

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 50%;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}
#headbox .ulogo {
    width :  50px;
    height:  50px;
    margin: -19px 0 -19px -15px ;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

#headbox a#logout {
    color: #c22;
}
#headbox a#logout:hover ,
#headbox a#logout:hover {
    color: #e44;
}

/* 底部导航菜单样式 */
#headbox .navbar-fixed-bottom ,
#headbox .navbar-fixed-bottom blockquote {
    min-height: 0;
    margin-bottom: 0;
    font-size : 12px;
}
#headbox .navbar-fixed-bottom .copy-right a ,
#headbox .navbar-fixed-bottom .site-links a {
    margin-right : 1em;
}
#headbox .navbar-fixed-bottom {
    border-shadow: 0 -1px 5px rgba(0,0,0,0.075), inset 0 -1px 0 rgba(255,255,255,0.15);
}
@media (min-width: 768px) {
    #bodybox>.container {
        margin-top: 20px;
    }
    #headbox .navbar-fixed-bottom {
        border-top-left-radius : 4px;
        border-top-right-radius: 4px;
    }
}

/* 主导航条默认样式 */
#headbox .breadcrumb {
    margin-top: 20px;
    margin-bottom: 0;
}
#headbox .breadcrumb .active a {
    text-decoration: none;
    color: #333;
}
#headbox .breadcrumb .home-crumb .bi {
    color: #555;
}
#headbox .breadcrumb .host-crumb .bi ,
#headbox .breadcrumb .hold-crumb .bi {
    color: #55d;
}

/* 标准表单分块布局 */
.form-body {
    padding: 15px 15px 0px 15px;
}
.form-foot {
    padding: 20px 15px 5px 15px;
}
.form-body + .form-foot {
    border-top : solid 1px #ddd;
}
.board + .form-foot ,
.panel + .form-foot {
    margin-top : -20px;
}
.form-body>:last-child:is(hr) ,
.form-foot>:last-child:is(br) {
    display: none; /* 兼容占位 */
}

/* 筛选表单紧凑布局 */
@media (min-width : 992px) {
.row.form-group.filt-group {
    float: left;
    width: 50% ;
    margin-left : 0;
    margin-right: 0;
}
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn>.btn>.bi-hi-search:before {
    content: "\f130";
}

/** 独立表单样式 **/

body.plain-page {
    height: 100%;
    background: #f4f4f4;
}
body.plain-page .container {
    height: auto;
    background: #ffffff;
    padding: 20px 15px 0 15px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
}
@media (min-width: 768px) {
    body.plain-page .container {
        padding: 40px 40px 20px 40px;
    }
}
@media (min-width: 992px) {
    body.plain-page .container {
        padding: 40px 80px 20px 80px;
    }
}
@media (min-width: 1200px) {
    body.plain-page .container {
        width: 970px;
    }
}

body.plain-page h1.page-heading {
    font-size : 24px;
    text-align: center ;
}
body.plain-page header ,
body.plain-page footer {
    text-align: justify;
}

/* 表单布局 */
.survey-form .form-group {
    margin-left : 0;
    margin-right: 0;
}
.survey-form .radio    label ,
.survey-form .checkbox label {
    display: block;
}

/* 表格布局 */
.survey-form .form-table {
    width  : 100% ;
    display: table;
}
.survey-form .form-table .form-group {
    display: table-row;
}
.survey-form .form-table .form-group>.control-label ,
.survey-form .form-table .form-group>.control-input {
    display: table-cell;
    vertical-align: top;
}
.survey-form .form-table .form-group>.control-label {
    white-space: nowrap;
     word-break: keep-all;
    width: 1px ;
}
.survey-form .form-table .control-label > * {
    display: inline-block;
    overflow   : hidden;
    white-space: normal;
    height:1.42857143em;
    width: auto;
}
.survey-form .form-table .control-order-txt {
    text-align:  right ;
}
.survey-form .form-table .control-label-txt {
    text-align: justify;
}
.survey-form .form-table .control-label-txt:after {
    display: inline-block;
    content: "\00a0";
    width: 100%;
}

.survey-form .form-table .control-input .form-control {
    box-shadow: none;
    border-radius: 0;
    border-color : transparent;
    border-bottom-color: #222 ;
}
@media (min-width: 768px) {
    .survey-form .form-table .control-input .form-control {
        width: 80%;
    }
}
@media (min-width: 992px) {
    .survey-form .form-table .control-input .form-control {
        width: 60%;
    }
}

/* 标签符号 */
.survey-form .form-table .control-label-end:before {
    content: "：";
}
.survey-form .form-group .control-order-end:before {
    content: "、";
}

/* 序号宽度 */
.survey-form .form-order-w1 .control-order-txt {
    width: 1em;
}
.survey-form .form-order-w2 .control-order-txt {
    width: 2em;
}

/* 标签宽度 */
.survey-form .form-label-w3 .control-label-txt {
    width: 3em;
}
.survey-form .form-label-w4 .control-label-txt {
    width: 4em;
}
.survey-form .form-label-w5 .control-label-txt {
    width: 5em;
}
.survey-form .form-label-w6 .control-label-txt {
    width: 6em;
}
.survey-form .form-label-w7 .control-label-txt {
    width: 7em;
}

/* 按钮固定 */
.survey-form .foot-fixed .form-body {
    margin-bottom: 95px;
}
.survey-form .foot-fixed .form-foot {
    position: fixed;
    width : 100%;
    padding : 0;
    margin: 0;
    border: 0;
    bottom: 0;
    left: 0;
}
.survey-form .foot-fixed .form-foot .form-group {
    background: #fff;
    box-shadow: 0 -5px 5px #eee;
    border-top: 1px solid  #eee;
    padding: 20px 15px;
    margin :  0   auto;
}
@media (min-width: 768px) {
    .survey-form .foot-fixed .form-body {
        margin-bottom: 75px;
    }
    .survey-form .foot-fixed .form-foot .form-group {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .survey-form .foot-fixed .form-body {
        margin-bottom: 75px;
    }
    .survey-form .foot-fixed .form-foot .form-group {
        width: 970px;
    }
}
