/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html ,
body {
    background: #f8f8f8;
    min-height: 558px;
    min-width : 992px;
    height: 100%;
}
#context {
    position: relative;
    overflow: hidden;
    clear : both;
    height: 100%;
}
#headbox {
    position: relative;
    overflow: hidden;
    float : left;
}
#bodybox {
    position: relative;
    overflow: hidden;
    float : right;
    box-shadow: 0 0 15px #e5e5e5 inset;
}
#menu-context ,
#main-context {
    padding-top: 20px;
    overflow: auto;
    height: 100%;
    border-left : 0.5px solid transparent;
    border-right: 0.5px solid transparent;
}

/* 顶部菜单 */

#headbar .navbar-header a {
    margin: 0;
}
#headbar .navbar-header {
    margin: 0;
    width : 240px;
    float : left ;
    box-shadow:  1px 0 #e5e5e5;
}
#headbar .navbar-right {
    margin: 0;
    width : 120px;
    float : right;
    box-shadow: -1px 0 #e5e5e5;
}
#headbar .navbar-left {
    width : calc(100% - 240px - 120px);
    float : left ;
}
#headbar .navbar-right > li ,
#headbar .navbar-right > li > a {
    text-align : right;
    width : 100%;
}

/* 菜单显隐 */

#bodybox {
    width : 100%;
    height: 100%;
}
#headbox {
    width : 0;
    height: 100%;
    min-width : 0;
    overflow: hidden;
}
#headbar {
    height: 0;
    width : 100%;
    min-height: 0;
    overflow: hidden;
}
.toper-open #bodybox ,
.toper-open #headbox {
    margin-top : 50px;
    height: calc(100% - 50px);
}
.toper-open #headbar {
    overflow: visible;
    height: 50px;
}
.sider-open #bodybox {
    width: calc(100% - 240px);
}
.sider-open #headbox {
    width: 240px;
}

/* 显隐抓手 */

#head-handler ,
#body-top-handler ,
#body-bot-handler {
    cursor  : pointer ;
    position: absolute;
    z-index : 1030;
    background: rgba(210,210,210,0.5);
}
#head-handler:hover ,
#body-top-handler:hover ,
#body-bot-handler:hover {
    background: rgba(210,210,210,1.0);
}
#head-handler a ,
#body-top-handler a ,
#body-bot-handler a {
    display     : block;
    border-style: solid;
    border-width: 4px;
    width : 0;
    height: 0;
}

#head-handler {
    top   :  50%;
    left  :  0px;
    width : 14px;
    height: 30px;
    margin-top : -15px;
    border-radius: 0 5px 5px 0;
}
#head-handler a {
    margin-top :  11px;
}
#head-handler a {
    margin-left : 5px;
    border-color: transparent transparent transparent #fff;
}
.sider-open #head-handler a {
    margin-left : 0px;
    border-color: transparent #fff transparent transparent;
}

#body-top-handler ,
#body-bot-handler {
    left  :  50%;
    width : 30px;
    height: 14px;
    margin-left: -15px;
}
#body-top-handler a ,
#body-bot-handler a {
    margin-left:  11px;
}
#body-top-handler {
    top   : 0;
    border-radius: 0 0 5px 5px;
}
#body-bot-handler {
    bottom: 0;
    border-radius: 5px 5px 0 0;
}
#body-top-handler a {
    border-color: transparent transparent #fff transparent;
    margin-top: 0px;
}
#body-bot-handler a {
    border-color: #fff transparent transparent transparent;
    margin-top: 5px;
}

.sider-open #head-handler {
    left : 240px;
}
.toper-open #head-handler {
    top  : calc(50% -  -25px);
}
.toper-open #body-top-handler {
    top  :  50px;
}
.sider-open #body-top-handler ,
.sider-open #body-bot-handler {
    left : calc(50% - -120px);
}
/*  等同 calc(50% + 120px), 规避 yuicompressor 会把 + 边空格去掉的问题  */

/** 侧边菜单 **/

#main-menubar {
    margin-top: -5px;
}
#main-menubar ul {
    margin : 0;
    padding: 0;
    list-style: none;
}
#main-menubar ul ul {
    background: #e8e8e8;
    background: linear-gradient(to top, #e8e8e8 0, #e0e0e0 100%);
}
#main-menubar li a {
    display: block;
    text-decoration: none;
}
#main-menubar li a {
    padding: 11px 16px 11px 39px;
}
#main-menubar li li a {
    padding:  7px 16px  7px 39px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup {
    color: #333;
    background: transparent;
    border-left: 5px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover {
    color: #37b;
    background: transparent;
    border-left: 5px solid transparent;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup {
    color: #eee;
    background: #37b;
    background: linear-gradient(to bottom, #37b 0, #26a 100%);
    border-left: 5px solid #048;
}

#main-menubar>ul>li {
    margin:  5px 0px;
}

#main-menubar .caret {
    margin:  9px 0px;
    margin-right: -10px; /* 修正上层内补误差 */
}
#main-menubar .caret {
    float: right;
    color: rgba(51,51,51,0.0);
}
#main-menubar:hover .caret {
    float: right;
    color: rgba(51,51,51,0.8);
}

#main-menubar .divider {
    color: rgba(51,51,51,0.8);
    border-bottom: 1px solid rgba(51,51,51,0.5);
    margin-right : 5px;
    margin-left  : 5px;
}
#main-menubar .divider span {
    text-align: center;
    display: block;
    padding: 20px 16px 10px 16px;
}
#main-menubar .divider span:empty {
    padding: 0;
}

/* 头像 */

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 50%;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}
#headbox .ulogo {
    width :  50px;
    height:  50px;
    margin: -19px 0 -19px -15px ;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

/* 图标 */

#main-menubar ul li a:before {
    width       :  26px;
    margin-left : -26px;
    display     : inline-block;
    font-family : bootstrap-icons !important;
    font-weight : normal !important;
    font-style  : normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#main-menubar>ul>li>a:before {
    content: "\f3fb";
}
#main-menubar>ul>li.actual>a:before {
    content: "\f2ef";
}
#main-menubar>ul>li>a[href="/centra/#manage"]:before {
    content: "\f424";
}
#main-menubar>ul>li>a[href="/common/menu.act?m=centra&n=system"]:before {
    content: "\f3e2";
}

/* 其他 */

#headbox blockquote .copy-right {
    white-space: inherit ;
}
#headbox blockquote .site-links {
    white-space: pre-line;
}
#headbox blockquote .site-links a:after {
    content: "\A";
}
#headbox blockquote a ,
#headbox blockquote {
    color  : #888;
}
#headbox blockquote {
    border-color : #d5d5d5;
    padding-left : 10px;
    padding-right: 15px;
    font-weight: normal;
    font-size: 12px;
    margin : 20px 0;
}
#headbox hr {
    border-color : #d5d5d5;
    margin : 0 15px;
}

#headbox a#logout {
    color: #a44;
}
#headbox a#logout:hover ,
#headbox a#logout:hover {
    color: #d55;
}

/* 主导航条默认样式 */
#menu-context .breadcrumb {
    margin : 0;
    padding: 15px;
    padding-bottom: 0;
    line-height: 20px;
    overflow-x : auto;
    overflow-y : hidden;
    white-space: nowrap;
    background-color: transparent;
}
#menu-context .breadcrumb::-webkit-scrollbar {
    max-width : 14px;
    max-height: 14px;
}
#menu-context .breadcrumb::-webkit-scrollbar-thumb {
    background: rgba(200,200,200,0.8);
}
#menu-context .breadcrumb .active a {
    text-decoration: none;
    color: #333;
}
#menu-context .breadcrumb .home-crumb .bi {
    color: #555;
}
#menu-context .breadcrumb .host-crumb .bi ,
#menu-context .breadcrumb .hold-crumb .bi {
    color: #55d;
}

/* 二级导航附加样式 */
/* 二级导航附加样式 */
#main-context.labs>div {
    background: #ffffff;
    margin-top  : -20px;
    margin-left : -15px;
    margin-right: -15px;
    padding-top  : 20px;
    padding-left : 15px;
    padding-right: 15px;
    box-shadow: 0 0 15px #e5e5e5;
}
#main-context.labs>div>.tabs ,
#main-context.labs>div>.loadbox>.tabs ,
#main-context.labs>div>.openbox>.tabs {
    background: #f8f8f8;
    margin-top  : -20px;
    margin-left : -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding-top  : 20px;
    padding-left : 15px;
    padding-right: 15px;
    box-shadow: 0 0 15px #e5e5e5 inset;
}
#main-context.labs>div>.tabs>li>a ,
#main-context.labs>div>.loadbox>.tabs>li>a ,
#main-context.labs>div>.openbox>.tabs>li>a {
    padding: 6px 12px;
    margin-right: 0px;
}
#main-context.labs>div>.tabs>li+li>a ,
#main-context.labs>div>.loadbox>.tabs>li+li>a ,
#main-context.labs>div>.openbox>.tabs>li+li>a {
    margin-left: -1px;
}

/* 标准表单分块布局 */
.panel>.form-body {
    padding: 15px 15px 0 15px;
}
.panel+.form-foot {
    padding:  0 15px 5px 15px;
}
.form-body+.form-foot {
    padding: 15px 0 0 0;
    border-top: solid 1px #ddd;
}
.form-body:after ,
.form-foot:after {
    display: table;
    content: " "  ;
    clear  : both ;
}
.form-body>:last-child:is(hr) ,
.form-foot>:last-child:is(br) {
    display: none ; /* 兼容占位 */
}

/* 筛选表单紧凑布局 */
@media (min-width : 992px) {
.row.form-group.filt-group {
    float: left;
    width: 50% ;
    margin-left : 0;
    margin-right: 0;
}
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn>.btn>.bi-hi-search:before {
    content: "\f130";
}

/* 拷贝导出列表样式 */
.table-copylist th ,
.table-copylist td {
    white-space: pre-line;
}

/* 统计图表附带选项 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
    white-space: nowrap;
         overflow: hidden;
    text-overflow: ellipsis;
}
.statbox .checkbox ,
.statbox .chartbox {
    margin  : 0;
    padding : 0;
}
.statbox .checkbox {
    overflow: auto;
}
.statbox .chartbox {
    overflow: hidden;
}
.statbox .alertbox {
    width   : 100%;
    height  : 100%;
    display : flex;
    align-items: center;
}
.statbox .alertbox>div {
    width   : 100%;
     text-align: center;
}
