
table.ui-droppable-hover ,
table.ui-droppable-hover td ,
.tree-curr>table.ui-droppable-hover ,
.tree-curr>table.ui-droppable-hover td {
    color: #dd4444;
}

.cols-form legend
    {margin-bottom: 15px; font-weight: bolder;}
.cols-form .form-group legend
    {font-size: 15px;}
.cols-form .form-group ul
    {padding-left: 0;}
.cols-form .widget-form  ul,
.cols-form .widget-form  input,
.cols-form .widget-form .check,
.cols-form .widget-form .form-control
    {display: none;}
.cols-form .target-form .control-label,
.cols-form .detail-set  .ui-sortable-handle
    {cursor : move;}
.cols-form .widget-form .glyphicon,
.cols-form .target-form .glyphicon,
.cols-form .record-form .glyphicon
    {display: none; margin: 4px 0 0 8px; cursor: pointer; color: #2780E3;}
.cols-form .widget-form .glyphicon.glyphicon-plus-sign,
.cols-form .target-form .glyphicon.glyphicon-info-sign,
.cols-form .target-form .glyphicon.glyphicon-remove-sign
    {display: inline-block;}
.cols-form .widget-form .form-group:hover
    {color: #2780E3;}
.cols-form .target-form .form-group:hover
    {color: #2780E3;}

div[data-type=form],
div[data-type=unit] {
    background: #eee;
    border : 1px dotted #000;
    padding: 0px 5px;
    opacity: 0.5;
}
