
.cols-form .target-form legend,
.cols-form .widget-form legend
    {margin-bottom: 15px; font-size: 13px; font-weight: bold;}
.cols-form .form-group   ul
    {padding-left: 0;}
.cols-form .widget-form  ul,
.cols-form .widget-form  input,
.cols-form .widget-form .check,
.cols-form .widget-form .form-control
    {display: none;}
.cols-form .target-form .control-label,
.cols-form .detail-set  .ui-sortable-handle
    {cursor : move;}
.cols-form .bi-hi-create,
.cols-form .bi-hi-update,
.cols-form .bi-hi-close
    {cursor : pointer; display: inline-block; margin-left: 8px;}
.cols-form .widget-form .bi-hi-close ,
.cols-form .target-form .bi-hi-create,
.cols-form .widget-form .bi-hi-update
    {display: none;}
.cols-form .bi-hi-close
    {color: #dd5555;}
.cols-form .bi-hi-create,
.cols-form .bi-hi-update
    {color: #2780E3;}
.cols-form .widget-form .form-group:hover,
.cols-form .target-form .form-group:hover
    {color: #2780E3;}

/* 规避 Windows 中滚动条把按钮挡住了 */
.cols-form .target-form .form-group>label,
.cols-form .target-form .form-group>legend
    {padding-right: 20px;}

/* 拖拽 */
.ui-draggable-handle {
    cursor: move;
}
.tree-node>table.ui-droppable-hover td ,
.tree-curr>table.ui-droppable-hover td {
    color: #f22;
}
table[data-type=form] ,
table[data-type=furl] {
    color: #000;
    background: #ddd;
    box-shadow: 0 0 8px #888;
    white-space: nowrap;
    opacity: 0.6;
    z-index: 4;
}
table[data-type=form] td {
    padding: 8px 8px;
}
table[data-type=furl] td {
    padding: 3px 8px;
}
