/**
 * HongsCORE 后台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html ,
body {
    background: #f8f8f8;
    min-height: 558px;
    min-width : 992px;
    height: 100%;
}
#context {
    position: relative;
    overflow: hidden;
    clear : both;
    height: 100%;
}
#headbox {
    background: #f0f0f0;
    position: relative;
    overflow: hidden;
    float : left;
    height: 100%;
    border-right: 1px solid #c5c5c5;
    border-left : 1px solid #c5c5c5;
}
#bodybox {
    background: #f8f8f8;
    position: relative;
    overflow: hidden;
    float :right;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    border-left : 1px solid #e5e5e5;
    box-shadow  : 0 0 15px  #c5c5c5 inset;
}
#menu-context ,
#main-context {
    overflow: auto;
    height: 100%;
}
#menu-context {
    padding-top: 95px;
}
#main-context {
    padding-top: 20px;
}

#headbox {
    display: none ;
    width  : auto ;
}
#bodybox {
    display: block;
    width  : 100% ;
}
.sider-open #headbox {
    display: block;
    width  : 240px;
}
.sider-open #bodybox {
    display: block;
    width  : calc(100% - 240px);
}
.sider-open #head-handler {
    left   : 240px;
}
.sider-open #body-top-handler ,
.sider-open #body-bot-handler {
    left   : calc(50% - -120px);
}
/*  等同 calc(50% + 120px), 规避 yuicompressor 会把 + 边空格去掉的问题  */

/** 标题 **/

#main-namebar {
    padding: 20px 15px;
}
#main-menubar ,
#user-menubar {
    padding: 20px 0;
}

#main-namebar {
    background: rgba(240,240,240,0.8);
    background: linear-gradient(to top, rgba(240,240,240,0.8) 0, rgba(255,255,255,0.9) 100%);
    text-align: center;
    position: absolute;
    z-index : 1;
    width: 100%;
    left: 0px;
    top : 0px;
}
#main-namebar a:hover ,
#main-namebar a:focus {
    text-decoration: none;
}
#main-namebar>div:nth-child(1) {
    line-height: 24px;
    font-size  : 21px;
    font-weight: 600 ;
    padding: 6px 0;
}
#main-namebar>div:nth-child(2) {
    line-height: 15px;
    font-size  : 12px;
    font-weight: 400 ;
    padding: 2px 0;
}
#main-namebar>div:nth-child(2) {
    padding-bottom: 22px;
    margin-bottom: -20px;
    border-bottom: 1px solid #ccc;
}

/** 菜单 **/

#main-menubar ul ,
#user-menubar ul {
    padding: 0;
    margin : 0;
    list-style: none;
}
#main-menubar ul ul ,
#user-menubar ul ul {
    background: #e8e8e8;
    background: linear-gradient(to top, #e8e8e8 0, #e0e0e0 100%);
}
#main-menubar li a ,
#user-menubar li a {
    display: block;
    text-decoration: none;
}
#user-menubar li a {
    font-weight: 600;
    padding: 9px 16px 9px 13px;
}
#main-menubar li a {
    font-weight: 600;
    padding: 9px 16px 9px 39px;
}
#main-menubar li li a {
    font-weight: 400;
    padding: 9px 16px 9px 39px;
}
#main-menubar li a ,
#main-menubar li.acting > a.dropup ,
#user-menubar li a ,
#user-menubar li.acting > a.dropup {
    color: #555;
    background: transparent;
    border-left: 5px solid transparent;
}
#main-menubar li a:hover,
#main-menubar li.acting > a.dropup:hover ,
#user-menubar li a:hover,
#user-menubar li.acting > a.dropup:hover {
    color: #37b;
    background: transparent;
    border-left: 5px solid transparent;
}
#main-menubar li.acting > a ,
#main-menubar li.active > a ,
#main-menubar li.active > a.dropup ,
#user-menubar li.acting > a ,
#user-menubar li.active > a ,
#user-menubar li.active > a.dropup {
    color: #eee;
    background: #37b;
    background: linear-gradient(to bottom, #37b 0, #26a 100%);
    border-left: 5px solid #048;
}

#main-menubar>ul>li ,
#user-menubar>ul>li {
    margin:  5px 0px;
}

#main-menubar .caret {
    margin:  9px 0px;
}
#user-menubar .caret {
    margin: 16px 6px;
}
#main-menubar .caret ,
#user-menubar .caret {
    float: right;
    color: rgba(51,51,51,0.0);
}
#main-menubar:hover .caret ,
#user-menubar:hover .caret {
    float: right;
    color: rgba(51,51,51,0.8);
}
#main-menubar .caret {
    margin-right: -10px; /* 修正上层内补误差 */
}

/* 头像 */

#user-menubar a {
    color: #333;
}
#user-menubar a:hover {
    color: #37b;
}
#user-menubar .uhead {
    display: inline-block ;
    vertical-align: middle;
    width : 36px;
    height: 36px;
    margin: 0 17px;
    border-radius  : 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}
#user-menubar .uname {
    display: inline-block ;
    vertical-align: middle;
    width: 128px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow   : hidden;
    text-overflow: ellipsis;
}
#user-menubar .badge {
    position  : absolute;
    display   : none;
    background: #d55;
    min-width : 0;
    min-height: 0;
    width  : 8px;
    height : 8px;
    padding: 0px 0px;
    margin :-8px 4px;
}
#user-menubar .bi {
    display: inline-block;
    width  : 23px;
}

/* 图标 */

#main-menubar ul li a:before {
    width       :  26px;
    margin-left : -26px;
    display     : inline-block;
    font-family : bootstrap-icons !important;
    font-weight : normal !important;
    font-style  : normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#main-menubar>ul>li>a:before {
    content: "\f3fb";
}
#main-menubar>ul>li.actual>a:before {
    content: "\f2ef";
}
#main-menubar>ul>li>a[href="/centra/#manage"]:before {
    content: "\f424";
}
#main-menubar>ul>li>a[href="/common/menu.act?m=centra&n=system"]:before {
    content: "\f3e2";
}

/* 其他 */

#headbox blockquote .copy-right {
    white-space: inherit ;
}
#headbox blockquote .site-links {
    white-space: pre-line;
}
#headbox blockquote .site-links a:after {
    content: "\A";
}
#headbox blockquote a , 
#headbox blockquote {
    color  : #888;
}
#headbox blockquote {
    border-color : #d5d5d5;
    padding-left : 10px;
    padding-right: 15px;
    font-weight: normal;
    font-size: 12px;
    margin : 20px 0;
}
#headbox hr {
    border-color : #d5d5d5;
    margin : 0 15px;
}

#head-handler {
    cursor: pointer;
    position: fixed;
    z-index : 99;
    top   :  50%;
    left  :  0px;
    width : 14px;
    height: 30px;
    margin-top   : -15px;
    border-radius: 0 5px 5px 0;
    background: rgba(210,210,210,0.5);
}
#head-handler:hover {
    background: rgba(210,210,210,1.0);
}
#head-handler a {
    width : 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 4px;
    margin-top : 11px;
}
#head-handler a {
    margin-left : 5px;
    border-color: transparent transparent transparent #fff;
}
.sider-open #head-handler a {
    margin-left : 0px;
    border-color: transparent #fff transparent transparent;
}

#body-top-handler {
    cursor: pointer;
    position: fixed;
    z-index : 99;
    top   :  0px;
    left  :  50%;
    width : 30px;
    height: 14px;
    margin-left  : -15px;
    border-radius: 0 0 5px 5px;
    background: rgba(210,210,210,0.5);
}
#body-top-handler:hover {
    background: rgba(210,210,210,1.0);
}
#body-top-handler a {
    width : 0;
    height: 0;
    display: block;
    margin-left: 11px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    margin-top: 0px;
}

#body-bot-handler {
    cursor: pointer;
    position: fixed;
    z-index : 99;
    bottom:  0px;
    left  :  50%;
    width : 30px;
    height: 14px;
    margin-left  : -15px;
    border-radius: 5px 5px 0 0;
    background: rgba(210,210,210,0.5);
}
#body-bot-handler:hover {
    background: rgba(210,210,210,1.0);
}
#body-bot-handler a {
    width : 0;
    height: 0;
    display: block;
    margin-left: 11px;
    border-width: 4px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    margin-top: 5px;
}

#headbox a#logout {
    color: #a44;
}
#headbox a#logout:hover ,
#headbox a#logout:hover {
    color: #d55;
}

/* 主导航条默认样式 */
#main-context > .laps.tabs.breadcrumb {
    padding-left : 1px;
    padding-right: 1px;
    border-radius: 0px;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
}
#main-context > .laps.tabs.breadcrumb .active a {
    text-decoration: none;
    color: #333;
}
#main-context > .laps.tabs.breadcrumb .home-crumb .bi {
    color: #555;
}
#main-context > .laps.tabs.breadcrumb .back-crumb .bi {
    color: #d55;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn>.btn>.bi-hi-search:before {
    content: "\f130";
}

/* 拷贝导出列表样式 */
.table-copylist th ,
.table-copylist td {
    white-space: pre-line;
}

/* 统计图表附带选项 */
.statbox .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 21px;
    white-space: nowrap;
         overflow: hidden;
    text-overflow: ellipsis;
}
.statbox .checkbox ,
.statbox .chartbox {
    margin  : 0;
    padding : 0;
}
.statbox .checkbox {
    overflow: auto;
}
.statbox .chartbox {
    overflow: hidden;
}
.statbox .alertbox {
    width   : 100%;
    height  : 100%;
    display : flex;
    align-items: center;
}
.statbox .alertbox>div {
    width   : 100%;
     text-align: center;
}

/* 筛选表单紧凑布局 */
@media (min-width : 992px) {
.row.form-group.filt-group {
    float: left;
    width: 50% ;
    margin-left : 0;
    margin-right: 0;
}
.well.filtbox {
    padding-left : 5px;
    padding-right: 5px;
}
}
