
table.ui-droppable-hover ,
table.ui-droppable-hover td ,
.tree-curr>table.ui-droppable-hover ,
.tree-curr>table.ui-droppable-hover td {
    color: #dd4444;
}

.form-group fieldset legend {
    font-size: 1.0em;
}
.form-group fieldset .checkall {
    margin-right: 0.50em;
}
.form-group fieldset .checkbox {
    padding-left: 1.25em;
}

div[data-type=user],
div[data-type=dept] {
    background: #eee;
    border : 1px dotted #000;
    padding: 0px 5px;
    opacity: 0.5;
}
