
table.ui-droppable-hover ,
table.ui-droppable-hover td ,
.tree-curr>table.ui-droppable-hover ,
.tree-curr>table.ui-droppable-hover td {
    color: #dd4444;
}

.hide-roles .base-info ,
.hide-roles .form-btns {
    float :   none;
    margin: 0 auto;
}
.hide-roles .role-info {
    display : none;
}

.form-group fieldset legend {
    font-size: 1.0em;
}
.form-group fieldset .checkall {
    margin-right: 0.50em;
}
.form-group fieldset .checkbox {
    padding-left: 1.25em;
}

.userhead {
    width: 50px;
}
.userhead span {
    display: inline-block;
    width : 32px;
    height: 32px;
    border-radius: 32px;
    margin-top   : -5px;
    margin-bottom:-10px;
    background-repeat: no-repeat;
    background-position:  center;
}

table[data-type=user],
table[data-type=dept] {
    background: #eee;
    border : 1px dotted #000;
    padding: 0px 5px;
    opacity: 0.5;
}
