
.hide-roles .base-info ,
.hide-roles .form-btns {
    float :   none;
    margin: 0 auto;
}
.hide-roles .role-info {
    display : none;
}

.form-group fieldset legend {
    font-size: 1.0em;
}
.form-group fieldset .checkall {
    margin-right: 0.50em;
}
.form-group fieldset .checkbox {
    padding-left: 1.25em;
}

.userhead {
    width: 50px;
    text-align: center;
}
.userhead span {
    display: inline-block;
    width : 32px;
    height: 32px;
    margin-top   :  -7px;
    margin-bottom: -11px;
    border-radius:   4px;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
}

/* 拖拽 */
.ui-draggable-handle {
    cursor: move;
}
.tree-node>table.ui-droppable-hover td ,
.tree-curr>table.ui-droppable-hover td {
    color: #f22;
}
table[data-type=user] ,
table[data-type=dept] {
    color: #000;
    background: #ddd;
    box-shadow: 0 0 8px #888;
    white-space: nowrap;
    opacity: 0.6;
    z-index: 4;
}
table[data-type=user] td {
    padding: 8px 8px;
}
table[data-type=dept] td {
    padding: 3px 8px;
}
