<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
    metadata-complete="true">
    <display-name>Hongs CORE Framework</display-name>
    <context-param>
        <param-name>debug</param-name>
        <param-value>3</param-value>
    </context-param>
    <!-- Acts Servlet -->
    <servlet>
        <servlet-name>Acts</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.ActsAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acts</servlet-name>
        <url-pattern>*.act</url-pattern>
    </servlet-mapping>
    <!-- Apis Servlet -->
    <servlet>
        <servlet-name>Apis</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.ApisAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apis</servlet-name>
        <url-pattern>*.api</url-pattern>
    </servlet-mapping>
    <!-- Conf Servlet -->
    <servlet>
        <servlet-name>Conf</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.ConfAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conf</servlet-name>
        <url-pattern>/common/conf/*</url-pattern>
    </servlet-mapping>
    <!-- Lang Servlet -->
    <servlet>
        <servlet-name>Lang</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.LangAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lang</servlet-name>
        <url-pattern>/common/lang/*</url-pattern>
    </servlet-mapping>
    <!-- Auth Servlet -->
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>io.github.ihongs.action.serv.AuthAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/common/auth/*</url-pattern>
    </servlet-mapping>
    <!-- Session Sets -->
    <session-config>
        <session-timeout>1440</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
        <tracking-mode>URL</tracking-mode>
        <!--tracking-mode>SSL</tracking-mode-->
        <cookie-config>
            <http-only>true</http-only>
            <name>SID</name>
        </cookie-config>
    </session-config>
    <!-- Default Tags -->
    <jsp-config>
        <taglib>
            <taglib-uri>/hongs.tag</taglib-uri>
            <taglib-location>web.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!-- Another Sets -->
    <error-page>
        <error-code>400</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <icon>
        <small-icon>/favicon.ico</small-icon>
        <large-icon>/favicon.ico</large-icon>
    </icon>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
</web-app>
