/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

#context {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#bodybox {
    flex: 1;
    padding-top: 71px; /* 顶部菜单距离 */
}
#footbox .navbar ,
#footbox .navbar blockquote {
    min-height: 0;
    margin-bottom: 0;
    font-size : 12px;
}

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 4px;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

/* 主导航条默认隐藏 */
.container > .laps.tabs.bread-home {
    display   : none;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content: "\e031";
}
