/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

#context {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#bodybox {
    flex: 1;
}
#leadbox {
    height : 20px; /* 顶部空隙高度 */
}
#headbox {
    height : 71px; /* 顶部菜单高度 */
}
#footbox .navbar ,
#footbox .navbar blockquote {
    min-height: 0;
    margin-bottom: 0;
    font-size : 12px;
}

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 4px;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

#footbox .copy-right a ,
#footbox .site-links a {
    margin-right : 1em;
}

/* 主导航条默认样式 */
#main-context > .laps.tabs.breadcrumb {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}
#main-context > .laps.tabs.bread-home {
    display: none;
}
#main-context > .laps.tabs.breadcrumb .home-crumb .glyphicon {
    color: #555;
}
#main-context > .laps.tabs.breadcrumb .back-crumb .glyphicon {
    color: #f55;
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn .glyphicon-search:before {
    content: "\e031";
}
