/**
 * HongsCORE 前台布局
 * 作者: 黄弘<kevin.hongs@gmail.com>
 * 版本: 2018/07/27 23:00
 */

html ,
body {
    background: #f8f8f8;
}

#context {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#bodybox {
    flex: 1;
    padding-bottom: 39px;
}
#headbox {
    padding-top: 51px;
}

#headbox .uhead {
    width :  36px;
    height:  36px;
    margin: -13px  4px;
    border-radius: 50%;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}
#headbox .ulogo {
    width :  50px;
    height:  50px;
    margin: -19px 0 -19px -15px ;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    display: inline-block;
}

#headbox a#logout {
    color: #a44;
}
#headbox a#logout:hover ,
#headbox a#logout:hover {
    color: #d55;
}

/* 底部导航菜单样式 */
#headbox .navbar-fixed-bottom ,
#headbox .navbar-fixed-bottom blockquote {
    min-height: 0;
    margin-bottom: 0;
    font-size : 12px;
}
#headbox .navbar-fixed-bottom .copy-right a ,
#headbox .navbar-fixed-bottom .site-links a {
    margin-right : 1em;
}
#headbox .navbar-fixed-bottom {
    border-shadow: 0 -1px 5px rgba(0,0,0,0.075), inset 0 -1px 0 rgba(255,255,255,0.15);
}
@media (min-width: 768px) {
    #bodybox>.container {
        margin-top: 20px;
    }
    #headbox .navbar-fixed-bottom {
        border-top-left-radius : 4px;
        border-top-right-radius: 4px;
    }
}

/* 主导航条默认样式 */
#headbox .breadcrumb {
    margin-top: 20px;
    margin-bottom: 0;
}
#headbox .breadcrumb .active a {
    text-decoration: none;
    color: #333;
}
#headbox .breadcrumb .home-crumb .bi {
    color: #555;
}
#headbox .breadcrumb .hook-crumb .bi ,
#headbox .breadcrumb .hold-crumb .bi {
    color: #55d;
}

/* 标准表单分块布局 */
.form-body {
    padding: 15px 15px 0px 15px;
}
.form-foot {
    padding: 20px 15px 5px 15px;
}
.form-body + .form-foot {
    border-top : solid 1px #ddd;
}
.board + .form-foot ,
.panel + .form-foot {
    margin-top : -20px;
}
.form-body>:last-child:is(hr) ,
.form-foot>:last-child:is(br) {
    display: none; /* 兼容占位 */
}

/* 筛选表单紧凑布局 */
@media (min-width : 992px) {
.row.form-group.filt-group {
    float: left;
    width: 50% ;
    margin-left : 0;
    margin-right: 0;
}
}

/* 隐藏受限的搜索框 */
.input-group .input-search:disabled {
    visibility: hidden;
}
.input-group .input-search:disabled+.input-group-btn>.btn:first-child {
    border-radius: 4px 0 0 4px;
}
.input-group .input-search:disabled+.input-group-btn>.btn>.bi-hi-search:before {
    content: "\f130";
}
